<div class="mainContent">
    <div v-bind:id="mainContentDivId" class="row clearfix">
        <div class="col-md-6 col-sm-6 col-xs-12 bigPanel">
            <div class="x_panel">
                <div class="x_title">
                    <!--标题-->
                    <h2>
                        车辆
                    </h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <!--左侧工具栏-->
                    <div class="btn-group hidden-xs" role="group">
                        <!--vue的单击事件绑定 v-on:click="xxx"-->
                        <button type="button" class="btn btn-outline btn-default" title="新增"
                                v-on:click="containerMain.add">
                            <i class="glyphicon glyphicon-plus" aria-hidden="true"></i>
                        </button>
                        <button type="button" class="btn btn-outline btn-default" title="删除"
                                v-on:click="containerMain.del">
                            <i class="glyphicon glyphicon-remove" aria-hidden="true"></i>
                        </button>
                    </div>
                    <div class="btn-group hidden-xs" role="group">
                        <button type="button" class="btn btn-outline btn-default" title="同步车辆数据"
                                v-on:click="containerMain.syncFromGps">
                            同步车辆数据
                        </button>
                    </div>
                    <!--右侧搜索栏-->
                    <form class="form-inline pull-right">
                        <div class="form-group">
                            <!--查询条件自动绑定到容器的toolbarQueryParam对象的具体属性，查询时会自动传到后台
                            如果vue的绑定不能满足，可以把查询条件在容器的getCustomQueryParam方法写入-->
                            <!--  <input type="text" class="form-control" placeholder="公司名称"
                                     v-model="containerMain.toolbarQueryParam.name">-->
                        </div>
                        <!--查询点击事件-->
                        <button type="button" class="btn btn-default btn-outline" title="查询"
                                v-on:click="containerMain.search">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </form>
                    <!--表格控件，控件定义在js-->
                    <!--一个页面如果有多个这样的table，这里的id要改，容器对应的id也要改-->
                    <table id="tableMain">
                    </table>
                </div>
            </div>
        </div>

        <!--表单（弹窗）-->
        <!--一个页面如果有多个这样的table，这里的id要改，容器对应的id也要改-->
        <div id="formMain" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <!--标题部分-->
                        <!--关闭按钮-->
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <!--标题-->
                        <h4 class="modal-title"></h4>
                        <!--顶部按钮-->
                        <button type="button" class="btn btn-primary" v-on:click='containerMain.submit'>保存</button>
                    </div>
                    <div class="modal-body">
                        <!--内容部分-->
                        <form class="form-horizontal">
                            <div class="row">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">车辆终端编号：</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control"
                                               v-model="containerMain.currentEntity.terminalNum">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">车牌号：</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control"
                                               v-model="containerMain.currentEntity.truckNum">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">车辆类型：</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control"
                                               v-model="containerMain.currentEntity.truckType">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">牌照类型：</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control"
                                               v-model="containerMain.currentEntity.licenseType">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">驾驶员：</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control"
                                               v-model="containerMain.currentEntity.driver">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">所属单位：</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control"
                                               v-model="containerMain.currentEntity.company">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">违章情况：</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control"
                                               v-model="containerMain.currentEntity.breakRule">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">是否黑名单：</label>
                                    <div class="col-sm-9">
                                        <select class="form-control" v-model='containerMain.currentEntity.inBlackList'>
                                            <option value="true">是</option>
                                            <option value="false">否</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">是否显示：</label>
                                    <div class="col-sm-9">
                                        <select class="form-control" v-model='containerMain.currentEntity.display'>
                                            <option value="true">是</option>
                                            <option value="false">否</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!--这里还可以加底部（footer），详见bootstrap官网-->
                </div>
            </div>
        </div>
    </div>
</div>