<div class="mainContent">
    <div class="draft-top">
        <mt-header title="我的上报" fixed>
            <mt-button icon="back" slot="left" @click="returnHome"></mt-button>
            <div slot="right" @click="expandDate">
                <span>8月<i class="el-icon-caret-bottom"></i></span>
                今日
            </div>
        </mt-header>
        <div class="date-expand" v-show="showDateExpand"></div>
    </div>
    <div class="draft-content">
        <div class="draftBox clearfix" v-for="item in draftList">
            <div class="draf-date float-left">
                <p class="date-text date-top">{{item.month}}</p>
                <p class="date-text date-bottom">{{item.year}}</p>
            </div>
            <div class="draf-content float-right">
                <div class="password-box" v-for="(subItem,subIndex) in item.content">
                    <yd-cell-item>
                        <div slot="left" class="darkText">
                            <img :src="subItem.img" alt="">
                            {{subItem.title}}
                        </div>
                    </yd-cell-item>
                    <yd-cell-item>
                        <div slot="left" class="info-subText">
                            <p class="item-text">设备：{{subItem.deviceName}}</p>
                            <p class="item-text">巡检时间：{{subItem.inspectorTime}}</p>
                        </div>
                    </yd-cell-item>
                </div>
            </div>
        </div>
    </div>
</div>