<!--bootstrap的模态弹窗-->
<!--id的值绑定了vue变量divId，而divId的值赋值是是随机数，因此此id的值是随机的，目的为了全局唯一-->
<div v-bind:id="divId" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <!--标题部分-->
                <!--关闭按钮-->
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <!--标题-->
                <h4 class="modal-title"></h4>
                <!--顶部按钮-->
                <button type="button" class="btn btn-primary" v-on:click="okClick">确定</button>
            </div>
            <div class="modal-body">
                <!--内容部分-->
                <form class="form-horizontal">
                    <div class="row">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">manufacturerId：</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" placeholder="" v-model="manufacturerId">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">manufacturerName：</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" placeholder="" v-model="manufacturerName">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">deviceType：</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" placeholder="" v-model="deviceType">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">model：</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" placeholder="" v-model="model">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">protocolType：</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" placeholder="" v-model="protocolType">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <!--这里还可以加底部（footer），详见bootstrap官网-->
        </div>
    </div>
</div>
