<div class="mainContent">
    <div class="row clearfix">
        <div class="col-md-6 col-sm-6 col-xs-12 bigPanel">
            <div class="x_panel">
                <div class="x_title">
                    <h2>
                        Form Design
                        <small>different form elements</small>
                    </h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li><a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>

                    <div class="clearfix"></div>
                </div>
                <div class="w-50 cesc-grid-form x_content">
                    <el-form :model="ruleForm10" :rules="rules" ref="ruleForm10" class="demo-ruleForm">
                        <el-form-item prop="name" label="用户名" class="cesc-form-item">
                            <el-input v-model="ruleForm10.name"></el-input>
                        </el-form-item>
                        <el-form-item prop="eMail" label="邮箱地址" class="cesc-form-item">
                            <el-input v-model="ruleForm10.eMail"></el-input>
                        </el-form-item>
                        <el-form-item prop="telphone" label="联系方式" class="cesc-form-item">
                            <el-input v-model="ruleForm10.telphone"></el-input>
                        </el-form-item>
                        <el-form-item label="性别" prop="sex" class="cesc-form-item">
                            <el-radio-group v-model="ruleForm10.sex">
                                <el-radio-button label="男"></el-radio-button>
                                <el-radio-button label="女"></el-radio-button>
                            </el-radio-group>
                        </el-form-item>
                        <el-form-item label="出生日期" required class="cesc-form-item">
                            <el-form-item prop="date" class="cesc-grid-date">
                                <el-date-picker type="date" placeholder="选择日期" v-model="ruleForm10.date"
                                                class="single-date"></el-date-picker>
                            </el-form-item>
                        </el-form-item>
                        <el-form-item>
                            <el-button type="primary" @click="submitForm('ruleForm10')">立即创建</el-button>
                            <el-button @click="resetForm('ruleForm10')">重置</el-button>
                        </el-form-item>
                    </el-form>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>人员信息表单</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li><a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>

                    <div class="clearfix"></div>
                </div>
                <div class="cesc-grid-form x_content">
                    <el-form :model="ruleForm1" :rules="rules" ref="ruleForm1" class="demo-ruleForm">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <el-form-item prop="name">
                                <el-input class="cesc-text-indent" v-model="ruleForm1.name"
                                          placeholder="请输入用户名"></el-input>
                                <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                            </el-form-item>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <el-form-item prop="eMail">
                                <el-input class="cesc-text-indent" v-model="ruleForm1.eMail"
                                          placeholder="请输入邮箱地址"></el-input>
                                <span class="fa fa-envelope form-control-feedback right" aria-hidden="true"></span>
                            </el-form-item>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <el-form-item prop="telphone">
                                <el-input class="cesc-text-indent" v-model="ruleForm1.telphone"
                                          placeholder="请输入联系方式"></el-input>
                                <span class="fa fa-phone form-control-feedback left" aria-hidden="true"></span>
                            </el-form-item>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <el-form-item prop="telphone1">
                                <el-input class="cesc-text-indent" v-model="ruleForm1.telphone1"
                                          placeholder="紧急联系人联系方式"></el-input>
                                <span class="fa fa-phone form-control-feedback right" aria-hidden="true"></span>
                            </el-form-item>
                        </div>
                        <el-form-item label="默认输入框" prop="defaultInput" class="cesc-form-item cesc-form-align">
                            <el-input v-model="ruleForm1.defaultInput"
                                      placeholder="输入框默认状态"></el-input>
                        </el-form-item>
                        <el-form-item label="禁用状态" prop="disableInput" class="cesc-form-item cesc-form-align">
                            <el-input v-model="ruleForm1.disableInput"
                                      :disabled="true"
                                      placeholder="输入框禁用状态"></el-input>
                        </el-form-item>
                        <el-form-item label="只读状态" prop="readonlyInput" class="cesc-form-item cesc-form-align">
                            <el-input v-model="ruleForm1.readonlyInput"
                                      :readonly="true"
                                      placeholder="输入框只读状态"></el-input>
                        </el-form-item>
                        <el-form-item label="出生日期" required class="cesc-form-item cesc-form-align">
                            <el-form-item prop="date" class="cesc-grid-date">
                                <el-date-picker type="date" placeholder="选择日期" v-model="ruleForm1.date"
                                                class="single-date"></el-date-picker>
                            </el-form-item>
                        </el-form-item>
                        <el-form-item>
                            <el-button type="primary" @click="submitForm('ruleForm1')">立即创建</el-button>
                            <el-button @click="resetForm('ruleForm1') ">重置</el-button>
                        </el-form-item>
                    </el-form>
                </div>
            </div>
            <div class="x_panel">
                <div class="x_title">
                    <h2>Star Rating</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Settings 1</a>
                                </li>
                                <li><a href="#">Settings 2</a>
                                </li>
                            </ul>
                        </li>
                        <li><a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <h4>Star Ratings
                        <small> Hover and click on a star</small>
                    </h4>
                    <div>
                        <div class="starrr stars"></div>
                        You gave a rating of <span class="stars-count">0</span> star(s)
                    </div>

                    <p>Also you can give a default rating by adding attribute data-rating</p>
                    <div class="starrr stars-existing" data-rating='4'></div>
                    You gave a rating of <span class="stars-count-existing">4</span> star(s)
                </div>
            </div>
            <div class="x_panel">
                <div class="x_title">
                    <h2>
                        Registration Form
                        <small>Click to validate</small>
                    </h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li><a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>

                    <div class="clearfix"></div>
                </div>
                <div class="cesc-grid-form x_content cesc-label-top">
                    <el-form :model="ruleForm2" :rules="rules" ref="ruleForm2" class="demo-ruleForm">
                        <el-form-item prop="name" label="用户全名：">
                            <el-input v-model="ruleForm2.name" placeholder="请输入用户名"></el-input>
                        </el-form-item>
                        <el-form-item prop="eMail" label="用户邮箱：">
                            <el-input v-model="ruleForm2.eMail"
                                      placeholder="请输入邮箱地址"></el-input>
                        </el-form-item>
                        <el-form-item label="性别：" prop="sex">
                            <el-radio-group v-model="ruleForm2.sex">
                                <el-radio label="男"></el-radio>
                                <el-radio label="女"></el-radio>
                            </el-radio-group>
                        </el-form-item>
                        <el-form-item label="特长:" prop="speciality" class="cesc-upright-checkbox">
                            <el-checkbox-group v-model="ruleForm2.speciality">
                                <el-checkbox label="html" name="speciality"></el-checkbox>
                                <el-checkbox label="css" name="speciality"></el-checkbox>
                                <el-checkbox label="javascript" name="speciality"></el-checkbox>
                                <el-checkbox label="photoshop" name="speciality"></el-checkbox>
                            </el-checkbox-group>
                        </el-form-item>
                        <el-form-item label="户口地址" prop="address">
                            <el-select v-model="ruleForm2.address" placeholder="请选择地区" class="cesc-grid-select"
                                       style="width:100%">
                                <el-option label="上海" value="shanghai"></el-option>
                                <el-option label="北京" value="beijing"></el-option>
                                <el-option label="广州" value="guangzhou"></el-option>
                                <el-option label="深圳" value="shengzhen"></el-option>
                            </el-select>
                        </el-form-item>
                        <el-form-item label="详细信息" prop="detail">
                            <el-input type="textarea" v-model="ruleForm2.detail"></el-input>
                        </el-form-item>
                        <el-form-item>
                            <el-button type="primary" @click="submitForm('ruleForm2')">立即创建</el-button>
                            <el-button @click="resetForm('ruleForm2') ">重置</el-button>
                        </el-form-item>
                    </el-form>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>人员信息表单</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li><a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>

                    <div class="clearfix"></div>
                </div>
                <div class="cesc-grid-form x_content">
                    <el-form :model="ruleForm3" :rules="rules" ref="ruleForm3" class="demo-ruleForm">
                        <el-form-item prop="defaultInput" label="默认输入框" class="cesc-form-item">
                            <el-input v-model="ruleForm3.defaultInput"></el-input>
                        </el-form-item>
                        <el-form-item prop="disableInput" label="禁用状态" class="cesc-form-item">
                            <el-input v-model="ruleForm3.disableInput" :disabled="true"></el-input>
                        </el-form-item>
                        <el-form-item prop="readonlyInput" label="只读状态" class="cesc-form-item">
                            <el-input v-model="ruleForm3.readonlyInput" :readonly="true"></el-input>
                        </el-form-item>
                        <el-form-item label="详细描述" prop="detail" class="cesc-form-item">
                            <el-input type="textarea" v-model="ruleForm3.detail"></el-input>
                        </el-form-item>
                        <el-form-item label="输入密码:" prop="password" class="cesc-form-item">
                            <el-input type="password" v-model="ruleForm3.password" auto-complete="off"></el-input>
                        </el-form-item>
                        <el-form-item label="户口地址" prop="address" class="cesc-form-item">
                            <el-select v-model="ruleForm3.address" placeholder="请选择地区" class="cesc-grid-select"
                                       style="width:100%">
                                <el-option label="上海" value="shanghai"></el-option>
                                <el-option label="北京" value="beijing"></el-option>
                                <el-option label="广州" value="guangzhou"></el-option>
                                <el-option label="深圳" value="shengzhen"></el-option>
                            </el-select>
                        </el-form-item>
                        <el-form-item label="户口地址" prop="city" class="cesc-form-item">
                            <el-select v-model="ruleForm3.city" placeholder="请选择">
                                <el-option-group
                                        v-for="group in options3"
                                        :key="group.label"
                                        :label="group.label">
                                    <el-option
                                            v-for="item in group.options"
                                            :key="item.value"
                                            :label="item.label"
                                            :value="item.value">
                                    </el-option>
                                </el-option-group>
                            </el-select>
                        </el-form-item>
                        <div class="el-form-item  cesc-form-item">
                            <label class="el-form-item__label">Select Multiple</label>
                            <div class="el-form-item__content">
                                <select class="select2_multiple form-control" multiple="multiple">
                                    <option v-for="option in options1">{{option}}</option>
                                </select>
                            </div>
                        </div>
                        <el-form-item label="活动时间" required class="cesc-form-item">
                            <el-col :span="11" style="width:44%">
                                <el-form-item prop="date1" class="cesc-grid-date">
                                    <el-date-picker type="date" placeholder="选择日期" v-model="ruleForm3.date1"
                                                    style="width: 100%;"></el-date-picker>
                                </el-form-item>
                            </el-col>
                            <el-col class="line" :span="2" style="width:11%;text-align:center">--</el-col>
                            <el-col :span="11" style="width:44%">
                                <el-form-item prop="date2" class="cesc-grid-date">
                                    <el-time-picker type="fixed-time" placeholder="选择时间" v-model="ruleForm3.date2"
                                                    style="width: 100%;"></el-time-picker>
                                </el-form-item>
                            </el-col>
                        </el-form-item>
                        <el-form-item label="组合选择" prop="mix" class="cesc-form-item cesc-upright-select">
                            <el-radio-group v-model="ruleForm3.mixRadio">
                                <el-radio label="Checked"></el-radio>
                                <el-radio label=" Unchecked"></el-radio>
                                <el-radio label="Disabled" :disabled="true"></el-radio>
                                <!--<el-radio label="Disabled & Checked" ></el-radio>-->
                            </el-radio-group>
                            <el-checkbox-group v-model="ruleForm3.mixCheckbox">
                                <el-checkbox label="Checked" name="mixCheckbox" :checked="true"></el-checkbox>
                                <el-checkbox label="Unchecked" name="mixCheckbox"></el-checkbox>
                                <el-checkbox label="Disabled" name="mixCheckbox" :disabled="true"></el-checkbox>
                                <el-checkbox label="Disabled & Checked" name="mixCheckbox" :checked="true"
                                             :disabled="true"></el-checkbox>
                            </el-checkbox-group>
                        </el-form-item>
                        <el-form-item label="即时配送" prop="switch" class="cesc-form-item cesc-upright-select">
                            <el-switch on-text="" off-text="" v-model="ruleForm3.switch"></el-switch>
                            <el-switch on-text="on" off-text="off" v-model="ruleForm3.switch1"></el-switch>
                            <el-switch on-text="" off-text="" v-model="ruleForm3.switch2" disabled></el-switch>
                            <el-switch on-text="on" off-text="off" v-model="ruleForm3.switch3"
                                       :disabled="true"></el-switch>
                        </el-form-item>

                        <el-form-item>
                            <el-button type="primary" @click="submitForm('ruleForm3')">立即创建</el-button>
                            <el-button @click="resetForm('ruleForm3')">重置</el-button>
                        </el-form-item>
                    </el-form>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>
                        form button
                        <small>Sessions</small>
                    </h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li><a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>

                    <div class="clearfix"></div>
                </div>
                <div class="cesc-grid-form right">
                    <el-form :model="ruleForm4" class="demo-ruleForm">
                        <el-form-item label="网址" class="cesc-form-item">
                            <el-input placeholder="请输入网址" v-model="ruleForm4.url">
                                <template slot="prepend">Http://</template>
                            </el-input>
                        </el-form-item>
                        <el-form-item label="网址" class="cesc-form-item">
                            <el-input placeholder="请输入网址" v-model="ruleForm4.url">
                                <template slot="append">.com</template>
                            </el-input>
                        </el-form-item>
                        <el-form-item label="餐厅信息" class="cesc-form-item short-select">
                            <el-input placeholder="请输入内容" v-model="ruleForm4.restaurant">
                                <el-select v-model="ruleForm4.select" slot="prepend" placeholder="请选择 ">
                                    <el-option label="餐厅名" value="1"></el-option>
                                    <el-option label="订单号" value="2"></el-option>
                                    <el-option label="用户电话" value="3"></el-option>
                                </el-select>
                                <el-button slot="append" icon="search"></el-button>
                            </el-input>
                        </el-form-item>
                    </el-form>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>编辑器<small>文本域编辑器</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Settings 1</a>
                                </li>
                                <li><a href="#">Settings 2</a>
                                </li>
                            </ul>
                        </li>
                        <li><a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div id="alerts"></div>
                    <div class="btn-toolbar editor" data-role="editor-toolbar" data-target="#editor-one">
                        <div class="btn-group">
                            <a class="btn dropdown-toggle" data-toggle="dropdown" title="Font"><i class="fa fa-font"></i><b class="caret"></b></a>
                            <ul class="dropdown-menu">
                            </ul>
                        </div>

                        <div class="btn-group">
                            <a class="btn dropdown-toggle" data-toggle="dropdown" title="文字大小"><i class="fa fa-text-height"></i>&nbsp;<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a data-edit="fontSize 5">
                                        <p style="font-size:17px">Huge</p>
                                    </a>
                                </li>
                                <li>
                                    <a data-edit="fontSize 3">
                                        <p style="font-size:14px">Normal</p>
                                    </a>
                                </li>
                                <li>
                                    <a data-edit="fontSize 1">
                                        <p style="font-size:11px">Small</p>
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <div class="btn-group">
                            <a class="btn" data-edit="bold" title="文字加粗 (Ctrl/Cmd+B)"><i class="fa fa-bold"></i></a>
                            <a class="btn" data-edit="italic" title="斜体 (Ctrl/Cmd+I)"><i class="fa fa-italic"></i></a>
                            <a class="btn" data-edit="strikethrough" title="Strikethrough"><i class="fa fa-strikethrough"></i></a>
                            <a class="btn" data-edit="underline" title="下划线 (Ctrl/Cmd+U)"><i class="fa fa-underline"></i></a>
                        </div>

                        <div class="btn-group">
                            <a class="btn" data-edit="insertunorderedlist" title="Bullet list"><i class="fa fa-list-ul"></i></a>
                            <a class="btn" data-edit="insertorderedlist" title="Number list"><i class="fa fa-list-ol"></i></a>
                            <a class="btn" data-edit="outdent" title="Reduce indent (Shift+Tab)"><i class="fa fa-dedent"></i></a>
                            <a class="btn" data-edit="indent" title="Indent (Tab)"><i class="fa fa-indent"></i></a>
                        </div>

                        <div class="btn-group">
                            <a class="btn" data-edit="justifyleft" title="左对齐 (Ctrl/Cmd+L)"><i class="fa fa-align-left"></i></a>
                            <a class="btn" data-edit="justifycenter" title="居中 (Ctrl/Cmd+E)"><i class="fa fa-align-center"></i></a>
                            <a class="btn" data-edit="justifyright" title="右对齐 (Ctrl/Cmd+R)"><i class="fa fa-align-right"></i></a>
                            <a class="btn" data-edit="justifyfull" title="Justify (Ctrl/Cmd+J)"><i class="fa fa-align-justify"></i></a>
                        </div>

                        <div class="btn-group">
                            <a class="btn dropdown-toggle" data-toggle="dropdown" title="Hyperlink"><i class="fa fa-link"></i></a>
                            <div class="dropdown-menu input-append">
                                <input class="span2" placeholder="URL" type="text" data-edit="createLink" />
                                <button class="btn" type="button">Add</button>
                            </div>
                            <a class="btn" data-edit="unlink" title="Remove Hyperlink"><i class="fa fa-cut"></i></a>
                        </div>

                        <div class="btn-group">
                            <a class="btn" title="Insert picture (or just drag & drop)" id="pictureBtn"><i class="fa fa-picture-o"></i></a>
                            <input type="file" data-role="magic-overlay" data-target="#pictureBtn" data-edit="insertImage" />
                        </div>

                        <div class="btn-group">
                            <a class="btn" data-edit="undo" title="撤回 (Ctrl/Cmd+Z)"><i class="fa fa-undo"></i></a>
                            <a class="btn" data-edit="redo" title="前进 (Ctrl/Cmd+Y)"><i class="fa fa-repeat"></i></a>
                        </div>
                    </div>

                    <div id="editor-one" class="editor-wrapper"></div>

                    <textarea name="descr" id="descr" style="display:none;"></textarea>
                    <br />
                </div>
            </div>
        </div>
        <div class="x_panel">
            <div class="x_title">
                <h2>Form Input Grid
                    <small>form input</small>
                </h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Settings 1</a>
                            </li>
                            <li><a href="#">Settings 2</a>
                            </li>
                        </ul>
                    </li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                        <input type="text" placeholder=".col-md-12" class="form-control">
                    </div>
                    <div class="col-md-6 col-sm-12 col-xs-12 form-group">
                        <input type="text" placeholder=".col-md-6" class="form-control">
                    </div>
                    <div class="col-md-6 col-sm-12 col-xs-12 form-group">
                        <input type="text" placeholder=".col-md-6" class="form-control">
                    </div>
                    <div class="col-md-4 col-sm-12 col-xs-12 form-group">
                        <input type="text" placeholder=".col-md-4" class="form-control">
                    </div>
                    <div class="col-md-4 col-sm-12 col-xs-12 form-group">
                        <input type="text" placeholder=".col-md-4" class="form-control">
                    </div>
                    <div class="col-md-4 col-sm-12 col-xs-12 form-group">
                        <input type="text" placeholder=".col-md-4" class="form-control">
                    </div>
                    <div class="col-md-3 col-sm-12 col-xs-12 form-group">
                        <input type="text" placeholder=".col-md-3" class="form-control">
                    </div>
                    <div class="col-md-3 col-sm-12 col-xs-12 form-group">
                        <input type="text" placeholder=".col-md-3" class="form-control">
                    </div>
                    <div class="col-md-3 col-sm-12 col-xs-12 form-group">
                        <input type="text" placeholder=".col-md-3" class="form-control">
                    </div>
                    <div class="col-md-3 col-sm-12 col-xs-12 form-group">
                        <input type="text" placeholder=".col-md-3" class="form-control">
                    </div>
                    <div class="col-md-2 col-sm-12 col-xs-12 form-group">
                        <input type="text" placeholder=".col-md-2" class="form-control">
                    </div>
                    <div class="col-md-2 col-sm-12 col-xs-12 form-group">
                        <input type="text" placeholder=".col-md-2" class="form-control">
                    </div>
                    <div class="col-md-2 col-sm-12 col-xs-12 form-group">
                        <input type="text" placeholder=".col-md-2" class="form-control">
                    </div>
                    <div class="col-md-2 col-sm-12 col-xs-12 form-group">
                        <input type="text" placeholder=".col-md-2" class="form-control">
                    </div>
                    <div class="col-md-2 col-sm-12 col-xs-12 form-group">
                        <input type="text" placeholder=".col-md-2" class="form-control">
                    </div>
                    <div class="col-md-2 col-sm-12 col-xs-12 form-group">
                        <input type="text" placeholder=".col-md-2" class="form-control">
                    </div>
                    <div class="col-md-1 col-sm-12 col-xs-12 form-group">
                        <input type="text" placeholder=".col-md-1" class="form-control">
                    </div>
                    <div class="col-md-1 col-sm-12 col-xs-12 form-group">
                        <input type="text" placeholder=".col-md-1" class="form-control">
                    </div>
                    <div class="col-md-1 col-sm-12 col-xs-12 form-group">
                        <input type="text" placeholder=".col-md-1" class="form-control">
                    </div>
                    <div class="col-md-1 col-sm-12 col-xs-12 form-group">
                        <input type="text" placeholder=".col-md-1" class="form-control">
                    </div>
                    <div class="col-md-1 col-sm-12 col-xs-12 form-group">
                        <input type="text" placeholder=".col-md-1" class="form-control">
                    </div>
                    <div class="col-md-1 col-sm-12 col-xs-12 form-group">
                        <input type="text" placeholder=".col-md-1" class="form-control">
                    </div>
                    <div class="col-md-1 col-sm-12 col-xs-12 form-group">
                        <input type="text" placeholder=".col-md-1" class="form-control">
                    </div>
                    <div class="col-md-1 col-sm-12 col-xs-12 form-group">
                        <input type="text" placeholder=".col-md-1" class="form-control">
                    </div>
                    <div class="col-md-1 col-sm-12 col-xs-12 form-group">
                        <input type="text" placeholder=".col-md-1" class="form-control">
                    </div>
                    <div class="col-md-1 col-sm-12 col-xs-12 form-group">
                        <input type="text" placeholder=".col-md-1" class="form-control">
                    </div>
                    <div class="col-md-1 col-sm-12 col-xs-12 form-group">
                        <input type="text" placeholder=".col-md-1" class="form-control">
                    </div>
                    <div class="col-md-1 col-sm-12 col-xs-12 form-group">
                        <input type="text" placeholder=".col-md-1" class="form-control">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>