<transition name="right-panel">
    <div v-show='rightPanelOpen' class='right-panel'>
        <div class="panel-header">
            <span class="goBack"><a href='#' class="el-icon-d-arrow-right" @click="closePanel"></a></span>
            <span class="facilityImg" v-bind:class="facilityType"></span>
            <span class="facilityName">{{facilityName}}</span>
            <el-menu :default-active="activeIndex" class="el-menu-demo menu-full" mode="horizontal" @select="switchMode">
                <el-menu-item index="1" id="realTimeMode">实时监测</el-menu-item>
                <el-menu-item index="2" id="historicalMode">历史数据</el-menu-item>
            </el-menu>
        </div>
        <div class="panel-content">
            <div class="panel-top">
                <div class="device-title" v-show='isRealTimeMode'>
                    <span>监控项</span><i class="wifiStatus"></i>
                    <span class="refreshTime">更新时间：{{lastUpdateTime}}</span>
                </div>
                <div class="part" v-bind:class="{partHistory:!isRealTimeMode}">
                    <date-control ref='dateController' v-show='!isRealTimeMode'></date-control>
                    <div v-show='isRealTimeMode' class="part-Img-Box">
                        <div class="part-Img">
                            <img class='facilityPic' :src="facilityPic" alt="设施图">
                        </div>
                        <p class="cesc-text-p">实时监控</p>
                    </div>
                    <monitor ref='monitorPlugin'></monitor>
                </div>
            </div>
            <div class="panel-middle">
                <div class="device-title" v-show='isRealTimeMode'>
                    <span>统计图表</span>
                    <!--<div v-if="facilityType!=='ylz'" class="pull-right">-->
                        <!--<span v-if="facilityType!='xs'" class="gradeTitle"　>当前等级</span>-->
                        <!--<span class="grade six" title="6" v-bind:class="{currentGrade:waterGrade=='6'}">{{waterGradeTitle}}</span>-->
                    <!--</div>-->
                </div>
                <statistics ref='statisticPlugin'></statistics>
            </div>
            <div class="panel-bottom">
                <div class="device-title" v-show='isRealTimeMode'>
                    <span>实时视频</span>
                </div>
                 <div class="bottom-r">
                 <!--<video  width="100%" height="100%" src="http://120.77.246.153:9000/vedio/test.ogg" autoplay="autoplay" loop="loop" controls="controls">
                 您的浏览器不支持 video 标签。
                 </video>-->
                 </div>
             </div>
        </div>
    </div>
</transition>
