<div class="mainContent">
   <div class="work-top">
      <img :src="workBannerImg" alt="">
      <div class="cesc-tabbar">
         <div class="tab-item" v-for="item in topNavArr" @click="showSub(item.id)">
            <img class="tab-img" :src="item.img">
            <p class="tab-text">{{item.text}}</p>
         </div>
      </div>
   </div>
   <div class="work-body">
      <div class="cesc-tabbar listBg">
         <div class="tab-item" v-for="item in contentList" @click="showSub(item.id)">
            <span class="icon iconfont tab-img" :class="item.class"></span>
            <p class="tab-text">{{item.text}}</p>
         </div>
      </div>
      <a class="mint-cell cell-top" @click="showSub('trsb')">
         <div class="mint-cell-wrapper">
            <div class="mint-cell-title">
               <span class="mint-cell-text">他人上报</span>
               <span class="pull-right el-icon-arrow-right"></span>
            </div>
         </div>
      </a>
      <yd-cell-group v-for="(item,index) in questionList">
         <yd-cell-item>
            <span slot="left">问题类型：{{item.title}}</span>
         </yd-cell-item>
         <yd-cell-item>
            <div slot="left" class="info-subText">
               <p class="item-text">地点：{{item.address}}</p>
               <p class="item-text">解决方案：{{item.solution}}</p>
            </div>
         </yd-cell-item>
         <yd-cell-item>
            <div slot="left" class="info-bottom">
               {{item.date}}&nbsp;&nbsp;&nbsp;&nbsp;上报人：{{item.people}}&nbsp;&nbsp;&nbsp;&nbsp;<i class="icon iconfont icon-huihua" @click="showSub('comment',item)"></i>&nbsp;&nbsp;{{item.num}}&nbsp;&nbsp;&nbsp;<i class="icon iconfont icon-yanjing"></i>&nbsp;&nbsp;{{item.count}}
            </div>
         </yd-cell-item>
      </yd-cell-group>
   </div>
</div>