<div class="">
   <!-- <div class="page-title">
        <div class="title_left">
            <h3>Projects
                <small>Listing design</small>
            </h3>
        </div>

        <div class="title_right">
            <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button">Go!</button>
                    </span>
                </div>
            </div>
        </div>
    </div>-->
    <el-dialog title="项目详细信息" :visible.sync="dialogFormVisible">
        <el-form :model="form">
            <el-form-item label="项目名称">
                <el-input v-model="form.name"></el-input>
            </el-form-item>
            <el-form-item label="所属区域">
                <el-select v-model="form.region" placeholder="请选择项目区域">
                    <el-option label="华东地区" value="shanghai"></el-option>
                    <el-option label="华南地区" value="beijing"></el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="创建时间">
                <el-col :span="11">
                    <el-date-picker type="date" placeholder="选择日期" v-model="form.date1" style="width: 60%;"></el-date-picker>
                </el-col>
            </el-form-item>
            <el-form-item label="是否立项">
                <el-switch on-text="" off-text="" v-model="form.delivery"></el-switch>
            </el-form-item>
            <el-form-item label="项目性质">
                <el-checkbox-group v-model="form.type">
                    <el-checkbox label="软件项目" name="type"></el-checkbox>
                    <el-checkbox label="硬件项目" name="type"></el-checkbox>
                    <el-checkbox label="软硬件结合" name="type"></el-checkbox>
                    <el-checkbox label="咨询设计" name="type"></el-checkbox>
                </el-checkbox-group>
            </el-form-item>
            <el-form-item label="当前状态">
                <el-radio-group v-model="form.resource">
                    <el-radio label="立项"></el-radio>
                    <el-radio label="开发"></el-radio>
                    <el-radio label="审核"></el-radio>
                    <el-radio label="结项"></el-radio>
                </el-radio-group>
            </el-form-item>
            <el-form-item label="详细情况">
                <el-input type="textarea" v-model="form.desc"></el-input>
            </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button @click="dialogFormVisible = false">返回</el-button>
            <el-button type="primary" v-show="!isCreateProject" @click="dialogFormVisible = false">修改</el-button>
            <el-button type="primary" v-show="isCreateProject" @click="dialogFormVisible = false,isCreateProject=false;addProject()">创建</el-button>
        </div>
    </el-dialog>
    <div class="clearfix"></div>

    <div class="row">
        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>我的项目列表</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a @click="createProject">新增项目</a>
                                </li>
                                <li><a href="#">批量操作</a>
                                </li>
                            </ul>
                        </li>
                        <li><a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">

                    <p>包括项目的相关信息与进度的跟踪</p>

                    <!-- start project list -->
                    <table class="table table-striped projects">
                        <thead>
                        <tr>
                            <th style="width: 1%">#</th>
                            <th style="width: 20%">项目名称e</th>
                            <th>参与人员</th>
                            <th>项目进度</th>
                            <th>当前状态</th>
                            <th style="width: 20%">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="project in projects">
                            <td>#</td>
                            <td>
                                <a>{{project.name}}</a>
                                <br/>
                                <small>创建日期 {{project.startDate}}</small>
                            </td>
                            <td>
                                <ul class="list-inline">
                                    <li v-for="member in project.members">
                                        <img src="../../images/user.png" class="avatar" alt="Avatar">
                                    </li>
                                </ul>
                            </td>
                            <td class="project_progress">
                                <div class="progress progress_sm">
                                    <div class="progress-bar bg-green" role="progressbar"
                                         data-transitiongoal={{project.progress}}></div>
                                </div>
                                <small>完成度:{{project.progress}}% </small>
                            </td>
                            <td>
                                <button type="button" class="btn btn-success btn-xs">{{project.status}}</button>
                            </td>
                            <td>
                                <a class="btn btn-primary btn-xs" @click="viewDetail"><i class="fa fa-folder"></i> 查看 </a>
                                <a href="#" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> 修改 </a>
                                <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> 删除 </a>
                            </td>
                        </tr>
                  <!--      <tr>
                            <td>#</td>
                            <td>
                                <a>Pesamakini Backend UI</a>
                                <br/>
                                <small>Created 01.01.2015</small>
                            </td>
                            <td>
                                <ul class="list-inline">
                                    <li>
                                        <img src="../../images/user.png" class="avatar" alt="Avatar">
                                    </li>
                                    <li>
                                        <img src="../../images/user.png" class="avatar" alt="Avatar">
                                    </li>
                                </ul>
                            </td>
                            <td class="project_progress">
                                <div class="progress progress_sm">
                                    <div class="progress-bar bg-green" role="progressbar"
                                         data-transitiongoal="47"></div>
                                </div>
                                <small>47% Complete</small>
                            </td>
                            <td>
                                <button type="button" class="btn btn-success btn-xs">Success</button>
                            </td>
                            <td>
                                <a href="#" class="btn btn-primary btn-xs"><i class="fa fa-folder"></i> View </a>
                                <a href="#" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Edit </a>
                                <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> Delete </a>
                            </td>
                        </tr>
                        <tr>
                            <td>#</td>
                            <td>
                                <a>Pesamakini Backend UI</a>
                                <br/>
                                <small>Created 01.01.2015</small>
                            </td>
                            <td>
                                <ul class="list-inline">
                                    <li>
                                        <img src="../../images/user.png" class="avatar" alt="Avatar">
                                    </li>
                                    <li>
                                        <img src="../../images/user.png" class="avatar" alt="Avatar">
                                    </li>
                                    <li>
                                        <img src="../../images/user.png" class="avatar" alt="Avatar">
                                    </li>
                                </ul>
                            </td>
                            <td class="project_progress">
                                <div class="progress progress_sm">
                                    <div class="progress-bar bg-green" role="progressbar"
                                         data-transitiongoal="77"></div>
                                </div>
                                <small>77% Complete</small>
                            </td>
                            <td>
                                <button type="button" class="btn btn-success btn-xs">Success</button>
                            </td>
                            <td>
                                <a href="#" class="btn btn-primary btn-xs"><i class="fa fa-folder"></i> View </a>
                                <a href="#" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Edit </a>
                                <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> Delete </a>
                            </td>
                        </tr>
                        <tr>
                            <td>#</td>
                            <td>
                                <a>Pesamakini Backend UI</a>
                                <br/>
                                <small>Created 01.01.2015</small>
                            </td>
                            <td>
                                <ul class="list-inline">
                                    <li>
                                        <img src="../../images/user.png" class="avatar" alt="Avatar">
                                    </li>
                                    <li>
                                        <img src="../../images/user.png" class="avatar" alt="Avatar">
                                    </li>
                                    <li>
                                        <img src="../../images/user.png" class="avatar" alt="Avatar">
                                    </li>
                                    <li>
                                        <img src="../../images/user.png" class="avatar" alt="Avatar">
                                    </li>
                                </ul>
                            </td>
                            <td class="project_progress">
                                <div class="progress progress_sm">
                                    <div class="progress-bar bg-green" role="progressbar"
                                         data-transitiongoal="60"></div>
                                </div>
                                <small>60% Complete</small>
                            </td>
                            <td>
                                <button type="button" class="btn btn-success btn-xs">Success</button>
                            </td>
                            <td>
                                <a href="#" class="btn btn-primary btn-xs"><i class="fa fa-folder"></i> View </a>
                                <a href="#" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Edit </a>
                                <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> Delete </a>
                            </td>
                        </tr>
                        <tr>
                            <td>#</td>
                            <td>
                                <a>Pesamakini Backend UI</a>
                                <br/>
                                <small>Created 01.01.2015</small>
                            </td>
                            <td>
                                <ul class="list-inline">
                                    <li>
                                        <img src="../../images/user.png" class="avatar" alt="Avatar">
                                    </li>
                                    <li>
                                        <img src="../../images/user.png" class="avatar" alt="Avatar">
                                    </li>
                                    <li>
                                        <img src="../../images/user.png" class="avatar" alt="Avatar">
                                    </li>
                                </ul>
                            </td>
                            <td class="project_progress">
                                <div class="progress progress_sm">
                                    <div class="progress-bar bg-green" role="progressbar"
                                         data-transitiongoal="12"></div>
                                </div>
                                <small>12% Complete</small>
                            </td>
                            <td>
                                <button type="button" class="btn btn-success btn-xs">Success</button>
                            </td>
                            <td>
                                <a href="#" class="btn btn-primary btn-xs"><i class="fa fa-folder"></i> View </a>
                                <a href="#" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Edit </a>
                                <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> Delete </a>
                            </td>
                        </tr>
                        <tr>
                            <td>#</td>
                            <td>
                                <a>Pesamakini Backend UI</a>
                                <br/>
                                <small>Created 01.01.2015</small>
                            </td>
                            <td>
                                <ul class="list-inline">
                                    <li>
                                        <img src="../../images/user.png" class="avatar" alt="Avatar">
                                    </li>
                                    <li>
                                        <img src="../../images/user.png" class="avatar" alt="Avatar">
                                    </li>
                                    <li>
                                        <img src="../../images/user.png" class="avatar" alt="Avatar">
                                    </li>
                                    <li>
                                        <img src="../../images/user.png" class="avatar" alt="Avatar">
                                    </li>
                                </ul>
                            </td>
                            <td class="project_progress">
                                <div class="progress progress_sm">
                                    <div class="progress-bar bg-green" role="progressbar"
                                         data-transitiongoal="35"></div>
                                </div>
                                <small>35% Complete</small>
                            </td>
                            <td>
                                <button type="button" class="btn btn-success btn-xs">Success</button>
                            </td>
                            <td>
                                <a href="#" class="btn btn-primary btn-xs"><i class="fa fa-folder"></i> View </a>
                                <a href="#" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Edit </a>
                                <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> Delete </a>
                            </td>
                        </tr>
                        <tr>
                            <td>#</td>
                            <td>
                                <a>Pesamakini Backend UI</a>
                                <br/>
                                <small>Created 01.01.2015</small>
                            </td>
                            <td>
                                <ul class="list-inline">
                                    <li>
                                        <img src="../../images/user.png" class="avatar" alt="Avatar">
                                    </li>
                                    <li>
                                        <img src="../../images/user.png" class="avatar" alt="Avatar">
                                    </li>
                                </ul>
                            </td>
                            <td class="project_progress">
                                <div class="progress progress_sm">
                                    <div class="progress-bar bg-green" role="progressbar"
                                         data-transitiongoal="87"></div>
                                </div>
                                <small>87% Complete</small>
                            </td>
                            <td>
                                <button type="button" class="btn btn-success btn-xs">Success</button>
                            </td>
                            <td>
                                <a href="#" class="btn btn-primary btn-xs"><i class="fa fa-folder"></i> View </a>
                                <a href="#" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Edit </a>
                                <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> Delete </a>
                            </td>
                        </tr>
                        <tr>
                            <td>#</td>
                            <td>
                                <a>Pesamakini Backend UI</a>
                                <br/>
                                <small>Created 01.01.2015</small>
                            </td>
                            <td>
                                <ul class="list-inline">
                                    <li>
                                        <img src="../../images/user.png" class="avatar" alt="Avatar">
                                    </li>
                                    <li>
                                        <img src="../../images/user.png" class="avatar" alt="Avatar">
                                    </li>
                                    <li>
                                        <img src="../../images/user.png" class="avatar" alt="Avatar">
                                    </li>
                                </ul>
                            </td>
                            <td class="project_progress">
                                <div class="progress progress_sm">
                                    <div class="progress-bar bg-green" role="progressbar"
                                         data-transitiongoal="77"></div>
                                </div>
                                <small>77% Complete</small>
                            </td>
                            <td>
                                <button type="button" class="btn btn-success btn-xs">Success</button>
                            </td>
                            <td>
                                <a href="#" class="btn btn-primary btn-xs"><i class="fa fa-folder"></i> View </a>
                                <a href="#" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Edit </a>
                                <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> Delete </a>
                            </td>
                        </tr>
                        <tr>
                            <td>#</td>
                            <td>
                                <a>Pesamakini Backend UI</a>
                                <br/>
                                <small>Created 01.01.2015</small>
                            </td>
                            <td>
                                <ul class="list-inline">
                                    <li>
                                        <img src="../../images/user.png" class="avatar" alt="Avatar">
                                    </li>
                                    <li>
                                        <img src="../../images/user.png" class="avatar" alt="Avatar">
                                    </li>
                                    <li>
                                        <img src="../../images/user.png" class="avatar" alt="Avatar">
                                    </li>
                                    <li>
                                        <img src="../../images/user.png" class="avatar" alt="Avatar">
                                    </li>
                                </ul>
                            </td>
                            <td class="project_progress">
                                <div class="progress progress_sm">
                                    <div class="progress-bar bg-green" role="progressbar"
                                         data-transitiongoal="77"></div>
                                </div>
                                <small>77% Complete</small>
                            </td>
                            <td>
                                <button type="button" class="btn btn-success btn-xs">Success</button>
                            </td>
                            <td>
                                <a href="#" class="btn btn-primary btn-xs"><i class="fa fa-folder"></i> View </a>
                                <a href="#" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Edit </a>
                                <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> Delete </a>
                            </td>
                        </tr>-->
                        </tbody>
                    </table>
                    <!-- end project list -->

                </div>
            </div>
        </div>
    </div>
</div>