<div class="mainContent">
    <div class="x_panel">
        <div class="x_title">
            <h2>点餐信息表
                <small>for Users</small>
            </h2>
            <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i
                            class="fa fa-wrench"></i></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Settings 1</a>
                        </li>
                        <li><a href="#">Settings 2</a>
                        </li>
                    </ul>
                </li>
                <li><a class="close-link"><i class="fa fa-close"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div id="datatable_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                <div class="row">
                    <div class="cesc-dialog-form clearfix cesc-dialog-step cesc-grid-form right">
                        <el-steps :space="100" direction="vertical" :active="active" class="float-left">
                            <el-step title="步骤 1"></el-step>
                            <el-step title="步骤 2"></el-step>
                            <el-step title="步骤 3"></el-step>
                        </el-steps>
                        <el-form :model="form"  ref="form"  :rules="rules" class="w-80 float-left">
                            <el-form-item label="姓名"  prop="name" class="cesc-form-item">
                                <el-select
                                        v-model="form.name"
                                        filterable
                                        remote
                                        placeholder="请输入关键词"
                                        :remote-method="remoteMethod"
                                        :loading="form.loading"
                                        @change="selectName()">
                                    <el-option
                                            v-for="item in form.options4"
                                            :key="item.value"
                                            :label="item.label"
                                            :value="item.value">
                                    </el-option>
                                </el-select>
                            </el-form-item>
                            <el-form-item label="菜单" prop="menu"  class="cesc-form-item">
                                <el-select v-model="form.menu " placeholder="请选择菜式" multiple  :disabled="isDisabled" @change="selectMenu()">
                                    <el-option
                                            v-for="item in options"
                                            :key="item.value"
                                            :label="item.label"
                                            :price="item.price"
                                            :value="item.value">
                                    </el-option>
                                </el-select>
                            </el-form-item>
                            <el-form-item prop="desc" label="备注" class="cesc-form-item" :disabled="isDisableInput">
                                <el-input v-model="form.desc" @change="payOrder()"></el-input>
                            </el-form-item>
                        </el-form>
                    </div>
                        <div slot="footer" class="dialog-footer float-right ">
                            <el-button @click="dialogFormVisible = false;resetForm('form')">返回</el-button>
                            <!--<el-button type="primary" v-show="!isCreateProject" @click="dialogFormVisible = false">修改</el-button>-->
                            <el-button type="primary" :disabled="!allowCreate" @click="makeOrder('form')">创建</el-button>
                        </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Form Wizards <small>Sessions</small></h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Settings 1</a>
                            </li>
                            <li><a href="#">Settings 2</a>
                            </li>
                        </ul>
                    </li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <!-- Smart Wizard -->
                <div id="wizard" class="form_wizard wizard_horizontal">
                    <div class="wizard_steps cesc-horizontal-step step400"style="margin-top: 20px;margin-bottom: 20px;">
                        <el-steps :space="400" :active="active1">
                            <el-step title="步骤 1" description="这是一段很长很长很长的描述性文字"></el-step>
                            <el-step title="步骤 2" description="这是一段很长很长很长的描述性文字"></el-step>
                            <el-step title="步骤 3" description="这是一段很长很长很长的描述性文字"></el-step>
                        </el-steps>
                    </div>
                    <div id="step-1" class="cesc-step show">
                        <div class="w-50 cesc-grid-form x_content right">
                            <el-form :model="ruleForm" class="demo-ruleForm">
                                <el-form-item prop="name" label="用户名" class="cesc-form-item">
                                    <el-input v-model="ruleForm.name"></el-input>
                                </el-form-item>
                                <el-form-item prop="eMail" label="邮箱地址" class="cesc-form-item">
                                    <el-input v-model="ruleForm.eMail"></el-input>
                                </el-form-item>
                                <el-form-item prop="telphone" label="联系方式" class="cesc-form-item">
                                    <el-input v-model="ruleForm.telphone"></el-input>
                                </el-form-item>
                                <el-form-item label="性别" prop="sex" class="cesc-form-item">
                                    <el-radio-group v-model="ruleForm.sex">
                                        <el-radio-button label="男"></el-radio-button>
                                        <el-radio-button label="女"></el-radio-button>
                                    </el-radio-group>
                                </el-form-item>
                                <el-form-item label="出生日期" required class="cesc-form-item">
                                    <el-form-item prop="date" class="cesc-grid-date">
                                        <el-date-picker type="date" placeholder="选择日期" v-model="ruleForm.date"
                                                        class="single-date"></el-date-picker>
                                    </el-form-item>
                                </el-form-item>
                            </el-form>
                        </div>
                    </div>
                    <div id="step-2" class="cesc-step">
                        <h2 class="StepTitle">Step 2 Content</h2>
                        <p>
                            do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                            fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                            in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </p>
                    </div>
                    <div id="step-3" class="cesc-step">
                        <h2 class="StepTitle">Step 3 Content</h2>
                        <p>
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
                            eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                            in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </p>
                    </div>
                </div>
                <!-- End SmartWizard Content -->
                <div class="cesc-steps-btns">
                    <el-button>完成</el-button>
                    <el-button type="primary" @click="next()">下一步</el-button>
                    <el-button type="primary" :disabled="!allowOprate" @click="before()">上一步</el-button>
                </div>
            </div>
        </div>
    </div>

</div>