<div class="">
    <div class="row">
        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>New Partner Contracts Consultancy</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Settings 1</a>
                                </li>
                                <li><a href="#">Settings 2</a>
                                </li>
                            </ul>
                        </li>
                        <li><a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="col-md-9 col-sm-9 col-xs-12">
                        <ul class="stats-overview">
                            <li v-for="list in lists">
                                <span class="name"> {{list.name}}</span>
                                <span class="value text-success"> {{list.value}} </span>
                            </li>
                        </ul>
                        <br />
                        <div id="mainb" style="height:350px;"></div>
                        <div>
                            <h4>Recent Activity</h4>
                            <!-- end of user messages -->
                            <ul class="messages">
                                <li v-for="activity in activities">
                                    <img :src="activity.src" class="avatar" alt="Avatar">
                                    <div class="message_date">
                                        <h3 class="date text-info">{{activity.date}}</h3>
                                        <p class="month">{{activity.month}}</p>
                                    </div>
                                    <div class="message_wrapper">
                                        <h4 class="heading">{{activity.heading}}</h4>
                                        <blockquote class="message">{{activity.msg}}</blockquote>
                                        <br />
                                        <p class="url">
                                            <span class="fs1 text-info" aria-hidden="true" data-icon=""></span>
                                            <a href="#"><i class="fa fa-paperclip"></i>{{activity.file}}</a>
                                        </p>
                                    </div>
                                </li>
                            </ul>
                            <!-- end of user messages -->
                        </div>
                    </div>
                    <!-- start project-detail sidebar -->
                    <div class="col-md-3 col-sm-3 col-xs-12">
                        <section class="panel">
                            <div class="x_title">
                                <h2>Project Description</h2>
                                <div class="clearfix"></div>
                            </div>
                            <div class="panel-body">
                                <h3 class="green"><i class="fa fa-paint-brush"></i> Gentelella</h3>
                                <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terr.</p>
                                <br />
                                <div class="project_detail">
                                    <p class="title">Client Company</p>
                                    <p>Deveint Inc</p>
                                    <p class="title">Project Leader</p>
                                    <p>Tony Chicken</p>
                                </div>
                                <br />
                                <h5>Project files</h5>
                                <ul class="list-unstyled project_files">
                                    <li v-for="file in projectFiles"><a href=""><i :class="file.iconClass"></i>{{file.name}}</a>
                                    </li>
                                </ul>
                                <br />
                                <div class="text-center mtop20">
                                    <a href="#"><el-button type="primary">Add files</el-button></a>
                                    <a href="#"><el-button type="info">Report contact</el-button></a>
                                </div>
                            </div>
                        </section>
                    </div>
                    <!-- end project-detail sidebar -->
                </div>
            </div>
        </div>
    </div>
</div>