<div class="mainContent">
    <div class="x_panel">
        <div class="x_title">
            <h2>点餐信息表
                <small>for Users</small>
            </h2>
            <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i
                            class="fa fa-wrench"></i></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Settings 1</a>
                        </li>
                        <li><a href="#">Settings 2</a>
                        </li>
                    </ul>
                </li>
                <li><a class="close-link"><i class="fa fa-close"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div id="datatable_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                <div class="row">
                    <div class="col-sm-6 cesc-dialog-small">
                        <button type="button" class="btn btn-primary" @click="createProject('form')">新增</button>
                        <el-dialog title="添加点餐信息" :visible.sync="dialogFormVisible">
                            <div class="cesc-dialog-form clearfix cesc-dialog-step">
                                <el-steps :space="100" direction="vertical" :active="active" class="float-left">
                                    <el-step title="步骤 1"></el-step>
                                    <el-step title="步骤 2"></el-step>
                                    <el-step title="步骤 3"></el-step>
                                </el-steps>
                                <el-form :model="form"  ref="form"  :rules="rules" class="w-80 dialog-form float-left">
                                    <el-form-item label="姓名"  prop="name">
                                        <el-select
                                                v-model="form.name"
                                                filterable
                                                remote
                                                placeholder="请输入关键词"
                                                :remote-method="remoteMethod"
                                                :loading="form.loading"
                                                @change="selectName()">
                                            <el-option
                                                    v-for="item in form.options4"
                                                    :key="item.value"
                                                    :label="item.label"
                                                    :value="item.value">
                                            </el-option>
                                        </el-select>
                                    </el-form-item>
                                    <el-form-item label="菜单" prop="menu" >
                                        <el-select v-model="form.menu " placeholder="请选择菜式" multiple  :disabled="isDisabled" @change="selectMenu()">
                                            <el-option
                                                    v-for="item in options"
                                                    :key="item.value"
                                                    :label="item.label"
                                                    :price="item.price"
                                                    :value="item.value">
                                            </el-option>
                                        </el-select>
                                        </el-select>
                                    </el-form-item>
                                    <el-form-item label="付款" prop="desc">
                                        <img src="../../images/pay.png" alt="图片" class="image">
                                        <div class="pricePanel">
                                            <span>总价：</span> <span class="priceTag">{{totalPrice}}</span><span>元</span>
                                        </div>
                                    </el-form-item>
                                </el-form>
                            </div>
                            <div slot="footer" class="dialog-footer">
                                <el-button @click="dialogFormVisible = false;resetForm('form')">返回</el-button>
                                <!--<el-button type="primary" v-show="!isCreateProject" @click="dialogFormVisible = false">修改</el-button>-->
                                <el-button type="primary" :disabled="!allowCreate" @click="makeOrder('form')">付款成功</el-button>
                            </div>
                        </el-dialog>
                    </div>
                    <div class="col-sm-6">
                        <div id="datatable_filter" class="dataTables_filter">
                            <label>搜索 :
                                <input type="search" class="form-control input-sm" id="search" name="query"   v-model="searchQuery" aria-controls="datatable">
                            </label>
                        </div>
                    </div>
                </div>
                <table id="datatable" class="table table-striped table-bordered" >
                    <thead>
                    <tr>
                        <th v-for="th in datatheads">{{th}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr  v-for="(entry,index) in searchUsers">
                        <td>
                            {{ entry.name }}
                        </td>
                        <td>
                            {{ entry.menu }}
                        </td>
                        <td>
                            {{ entry.price }}
                        </td>
                        <!--<td>-->
                            <!--{{ entry.birth }}-->
                        <!--</td>-->
                        <!--<td>-->
                            <!--{{ entry.birthplace }}-->
                        <!--</td>-->
                        <!--<td>-->
                            <!--{{ entry.interest }}-->
                        <!--</td>-->
                        <!--<td>-->
                            <!--{{ entry.email }}-->
                        <!--</td>-->
                        <!--<td>-->
                            <!--{{ entry.address }}-->
                        <!--</td>-->
                        <td class="text-center">
                          <!--  <button type="button" class="btn btn-primary btn-xs">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </button>
                            <button type="button" class="btn btn-primary btn-xs" @click="deleteThisRow(index)">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>-->
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>