<div class="mainContent">
    <div class="row clearfix">
        <div class="col-md-6 col-sm-6 col-xs-12 bigPanel">
            <div class="x_panel">
                <div class="x_title">
                    <h2>人员信息表单</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li><a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>

                    <div class="clearfix"></div>
                </div>
                <div class="w-50 cesc-grid-form float-left" style="width:50%">
                    <el-form :model="ruleForm1" :rules="rules" ref="ruleForm1" class="demo-ruleForm">
                        <el-form-item prop="name">
                            <el-input class="cesc-text-indent" v-model="ruleForm1.name" placeholder="请输入用户名"></el-input>
                            <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                        </el-form-item>
                        <el-form-item prop="eMail">
                            <el-input class="cesc-text-indent" v-model="ruleForm1.eMail"
                                      placeholder="请输入邮箱地址"></el-input>
                            <span class="fa fa-envelope form-control-feedback left" aria-hidden="true"></span>
                        </el-form-item>
                        <el-form-item prop="telphone">
                            <el-input class="cesc-text-indent" v-model="ruleForm1.telphone"
                                      placeholder="请输入联系方式"></el-input>
                            <span class="fa fa-phone form-control-feedback left" aria-hidden="true"></span>
                        </el-form-item>
                        <el-form-item label="户口地址" prop="region" class="cesc-form-item">
                            <el-select v-model="ruleForm1.region" placeholder="请选择地区" class="cesc-grid-select"  style="width:100%">
                                <el-option label="上海" value="shanghai"></el-option>
                                <el-option label="北京" value="beijing"></el-option>
                                <el-option label="广州" value="guangzhou"></el-option>
                                <el-option label="深圳" value="shengzhen"></el-option>
                            </el-select>
                        </el-form-item>
                        <el-form-item label="性别" prop="sex"  class="cesc-form-item">
                            <el-radio-group v-model="ruleForm1.sex">
                                <el-radio label="男"></el-radio>
                                <el-radio label="女"></el-radio>
                            </el-radio-group>
                        </el-form-item>
                        <el-form-item label="特长" prop="type"  class="cesc-form-item">
                            <el-checkbox-group v-model="ruleForm1.type">
                                <el-checkbox label="html" name="type"></el-checkbox>
                                <el-checkbox label="css" name="type"></el-checkbox>
                                <el-checkbox label="javascript" name="type"></el-checkbox>
                                <el-checkbox label="photoshop" name="type"></el-checkbox>
                            </el-checkbox-group>
                        </el-form-item>
                        <el-form-item label="即时配送" prop="delivery"  class="cesc-form-item">
                            <el-switch on-text="" off-text="" v-model="ruleForm1.delivery"></el-switch>
                        </el-form-item>
                        <el-form-item label="活动形式" prop="desc"  class="cesc-form-item">
                            <el-input type="textarea" v-model="ruleForm1.desc"></el-input>
                        </el-form-item>
                        <el-form-item>
                            <el-button type="primary" @click="submitForm('ruleForm1')">立即创建</el-button>
                            <el-button @click="resetForm('ruleForm1')">重置</el-button>
                        </el-form-item>
                    </el-form>
                </div>
                <div class="w-50 cesc-grid-form float-right"  style="width:50%">
                    <el-form :model="ruleForm10" :rules="rules" ref="ruleForm10" class="demo-ruleForm">
                        <el-form-item prop="name">
                            <el-input class="cesc-text-indent" v-model="ruleForm10.name" placeholder="请输入用户名"></el-input>
                            <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                        </el-form-item>
                        <el-form-item prop="eMail">
                            <el-input class="cesc-text-indent" v-model="ruleForm10.eMail"
                                      placeholder="请输入邮箱地址"></el-input>
                            <span class="fa fa-envelope form-control-feedback left" aria-hidden="true"></span>
                        </el-form-item>
                        <el-form-item prop="telphone">
                            <el-input class="cesc-text-indent" v-model="ruleForm10.telphone"
                                      placeholder="请输入联系方式"></el-input>
                            <span class="fa fa-phone form-control-feedback left" aria-hidden="true"></span>
                        </el-form-item>
                        <el-form-item label="户口地址" prop="region" class="cesc-form-item">
                            <el-select v-model="ruleForm10.region" placeholder="请选择地区" class="cesc-grid-select"  style="width:100%">
                                <el-option label="上海" value="shanghai"></el-option>
                                <el-option label="北京" value="beijing"></el-option>
                                <el-option label="广州" value="guangzhou"></el-option>
                                <el-option label="深圳" value="shengzhen"></el-option>
                            </el-select>
                        </el-form-item>
                        <el-form-item label="性别" prop="sex"  class="cesc-form-item">
                            <el-radio-group v-model="ruleForm10.sex">
                                <el-radio label="男"></el-radio>
                                <el-radio label="女"></el-radio>
                            </el-radio-group>
                        </el-form-item>
                        <el-form-item label="特长" prop="type"  class="cesc-form-item">
                            <el-checkbox-group v-model="ruleForm10.type">
                                <el-checkbox label="html" name="type"></el-checkbox>
                                <el-checkbox label="css" name="type"></el-checkbox>
                                <el-checkbox label="javascript" name="type"></el-checkbox>
                                <el-checkbox label="photoshop" name="type"></el-checkbox>
                            </el-checkbox-group>
                        </el-form-item>
                        <el-form-item label="即时配送" prop="delivery"  class="cesc-form-item">
                            <el-switch on-text="" off-text="" v-model="ruleForm10.delivery"></el-switch>
                        </el-form-item>
                        <el-form-item label="活动形式" prop="desc"  class="cesc-form-item">
                            <el-input type="textarea" v-model="ruleForm10.desc"></el-input>
                        </el-form-item>
                        <el-form-item>
                            <el-button type="primary" @click="submitForm('ruleForm10')">立即创建</el-button>
                            <el-button @click="resetForm('ruleForm10')">重置</el-button>
                        </el-form-item>
                    </el-form>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 bigPanel">
            <div class="x_panel" style="width: 50%;height:755px">
                <div class="x_title">
                    <h2>人员信息表单</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li><a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>

                    <div class="clearfix"></div>
                </div>
                <div class="w-80 cesc-grid-form">
                    <el-form :model="ruleForm2" :rules="rules" ref="ruleForm2" class="demo-ruleForm">
                        <el-form-item prop="name">
                            <el-input class="cesc-text-indent" v-model="ruleForm2.name" placeholder="请输入用户名"></el-input>
                            <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                        </el-form-item>
                        <el-form-item prop="eMail">
                            <el-input class="cesc-text-indent" v-model="ruleForm2.eMail"
                                      placeholder="请输入邮箱地址"></el-input>
                            <span class="fa fa-envelope form-control-feedback left" aria-hidden="true"></span>
                        </el-form-item>
                        <el-form-item prop="telphone">
                            <el-input class="cesc-text-indent" v-model="ruleForm2.telphone"
                                      placeholder="请输入联系方式"></el-input>
                            <span class="fa fa-phone form-control-feedback left" aria-hidden="true"></span>
                        </el-form-item>
                        <el-form-item label="户口地址" prop="region" class="cesc-form-item">
                            <el-select v-model="ruleForm2.region" placeholder="请选择地区" class="cesc-grid-select"  style="width:100%">
                                <el-option label="上海" value="shanghai"></el-option>
                                <el-option label="北京" value="beijing"></el-option>
                                <el-option label="广州" value="guangzhou"></el-option>
                                <el-option label="深圳" value="shengzhen"></el-option>
                            </el-select>
                        </el-form-item>
                        <el-form-item label="活动时间" required  class="cesc-form-item">
                            <el-col :span="11" style="width:44%">
                                <el-form-item prop="date1"  class="cesc-grid-date" >
                                    <el-date-picker type="date" placeholder="选择日期" v-model="ruleForm2.date1"
                                                    style="width: 100%;"></el-date-picker>
                                </el-form-item>
                            </el-col>
                            <el-col class="line" :span="2"style="width:11%;text-align:center">--</el-col>
                            <el-col :span="11" style="width:44%">
                                <el-form-item prop="date2"  class="cesc-grid-date" >
                                    <el-time-picker type="fixed-time" placeholder="选择时间" v-model="ruleForm2.date2"
                                                    style="width: 100%;"></el-time-picker>
                                </el-form-item>
                            </el-col>
                        </el-form-item>
                        <el-form-item label="性别" prop="sex"  class="cesc-form-item">
                            <el-radio-group v-model="ruleForm2.sex">
                                <el-radio label="男"></el-radio>
                                <el-radio label="女"></el-radio>
                            </el-radio-group>
                        </el-form-item>
                        <el-form-item label="特长" prop="type"  class="cesc-form-item">
                            <el-checkbox-group v-model="ruleForm2.type">
                                <el-checkbox label="html" name="type"></el-checkbox>
                                <el-checkbox label="css" name="type"></el-checkbox>
                                <el-checkbox label="javascript" name="type"></el-checkbox>
                                <el-checkbox label="photoshop" name="type"></el-checkbox>
                            </el-checkbox-group>
                        </el-form-item>
                        <el-form-item label="即时配送" prop="delivery"  class="cesc-form-item">
                            <el-switch on-text="" off-text="" v-model="ruleForm2.delivery"></el-switch>
                        </el-form-item>
                        <el-form-item label="活动形式" prop="desc"  class="cesc-form-item">
                            <el-input type="textarea" v-model="ruleForm2.desc"></el-input>
                        </el-form-item>
                        <el-form-item>
                            <el-button type="primary" @click="submitForm('ruleForm2')">立即创建</el-button>
                            <el-button @click="resetForm('ruleForm2')">重置</el-button>
                        </el-form-item>
                    </el-form>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>人员信息表单</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li><a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>

                    <div class="clearfix"></div>
                </div>
                <div class="w-90 cesc-grid-form">
                    <el-form :model="ruleForm3" :rules="rules" ref="ruleForm3" class="demo-ruleForm">
                        <el-form-item prop="name">
                            <el-input class="cesc-text-indent" v-model="ruleForm3.name" placeholder="请输入用户名"></el-input>
                            <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                        </el-form-item>
                        <el-form-item prop="eMail">
                            <el-input class="cesc-text-indent" v-model="ruleForm3.eMail"
                                      placeholder="请输入邮箱地址"></el-input>
                            <span class="fa fa-envelope form-control-feedback left" aria-hidden="true"></span>
                        </el-form-item>
                        <el-form-item prop="telphone">
                            <el-input class="cesc-text-indent" v-model="ruleForm3.telphone"
                                      placeholder="请输入联系方式"></el-input>
                            <span class="fa fa-phone form-control-feedback left" aria-hidden="true"></span>
                        </el-form-item>
                        <el-form-item label="户口地址" prop="region" class="cesc-form-item">
                            <el-select v-model="ruleForm3.region" placeholder="请选择地区" class="cesc-grid-select">
                                <el-option label="上海" value="shanghai"></el-option>
                                <el-option label="北京" value="beijing"></el-option>
                                <el-option label="广州" value="guangzhou"></el-option>
                                <el-option label="深圳" value="shengzhen"></el-option>
                            </el-select>
                        </el-form-item>
                        <el-form-item label="活动时间" required  class="cesc-form-item">
                            <el-col :span="11">
                                <el-form-item prop="date1"  class="cesc-grid-date">
                                    <el-date-picker type="date" placeholder="选择日期" v-model="ruleForm3.date1"
                                                    style="width: 100%;"></el-date-picker>
                                </el-form-item>
                            </el-col>
                            <el-col class="line" :span="2">--</el-col>
                            <el-col :span="11">
                                <el-form-item prop="date2"  class="cesc-grid-date">
                                    <el-time-picker type="fixed-time" placeholder="选择时间" v-model="ruleForm3.date2"
                                                    style="width: 100%;"></el-time-picker>
                                </el-form-item>
                            </el-col>
                        </el-form-item>
                        <el-form-item label="性别" prop="sex"  class="cesc-form-item">
                            <el-radio-group v-model="ruleForm3.sex">
                                <el-radio label="男"></el-radio>
                                <el-radio label="女"></el-radio>
                            </el-radio-group>
                        </el-form-item>
                        <el-form-item label="特长" prop="type"  class="cesc-form-item">
                            <el-checkbox-group v-model="ruleForm3.type">
                                <el-checkbox label="html" name="type"></el-checkbox>
                                <el-checkbox label="css" name="type"></el-checkbox>
                                <el-checkbox label="javascript" name="type"></el-checkbox>
                                <el-checkbox label="photoshop" name="type"></el-checkbox>
                            </el-checkbox-group>
                        </el-form-item>
                        <el-form-item label="即时配送" prop="delivery"  class="cesc-form-item">
                            <el-switch on-text="" off-text="" v-model="ruleForm3.delivery"></el-switch>
                        </el-form-item>
                        <el-form-item label="活动形式" prop="desc"  class="cesc-form-item">
                            <el-input type="textarea" v-model="ruleForm3.desc"></el-input>
                        </el-form-item>
                        <el-form-item>
                            <el-button type="primary" @click="submitForm('ruleForm3')">立即创建</el-button>
                            <el-button @click="resetForm('ruleForm3')">重置</el-button>
                        </el-form-item>
                    </el-form>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>人员信息表单</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li><a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>

                    <div class="clearfix"></div>
                </div>
                <div class="w-90 cesc-grid-form">
                    <el-form :model="ruleForm4" :rules="rules" ref="ruleForm4" class="demo-ruleForm">
                        <el-form-item prop="name">
                            <el-input class="cesc-text-indent" v-model="ruleForm4.name" placeholder="请输入用户名"></el-input>
                            <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                        </el-form-item>
                        <el-form-item prop="eMail">
                            <el-input class="cesc-text-indent" v-model="ruleForm4.eMail"
                                      placeholder="请输入邮箱地址"></el-input>
                            <span class="fa fa-envelope form-control-feedback left" aria-hidden="true"></span>
                        </el-form-item>
                        <el-form-item prop="telphone">
                            <el-input class="cesc-text-indent" v-model="ruleForm4.telphone"
                                      placeholder="请输入联系方式"></el-input>
                            <span class="fa fa-phone form-control-feedback left" aria-hidden="true"></span>
                        </el-form-item>
                        <el-form-item label="户口地址" prop="region" class="cesc-form-item">
                            <el-select v-model="ruleForm4.region" placeholder="请选择地区" class="cesc-grid-select">
                                <el-option label="上海" value="shanghai"></el-option>
                                <el-option label="北京" value="beijing"></el-option>
                                <el-option label="广州" value="guangzhou"></el-option>
                                <el-option label="深圳" value="shengzhen"></el-option>
                            </el-select>
                        </el-form-item>
                        <el-form-item label="活动时间" required  class="cesc-form-item">
                            <el-col :span="11">
                                <el-form-item prop="date1"  class="cesc-grid-date">
                                    <el-date-picker type="date" placeholder="选择日期" v-model="ruleForm4.date1"
                                                    style="width: 100%;"></el-date-picker>
                                </el-form-item>
                            </el-col>
                            <el-col class="line" :span="2">--</el-col>
                            <el-col :span="11">
                                <el-form-item prop="date2"  class="cesc-grid-date">
                                    <el-time-picker type="fixed-time" placeholder="选择时间" v-model="ruleForm4.date2"
                                                    style="width: 100%;"></el-time-picker>
                                </el-form-item>
                            </el-col>
                        </el-form-item>
                        <el-form-item label="性别" prop="sex"  class="cesc-form-item">
                            <el-radio-group v-model="ruleForm4.sex">
                                <el-radio label="男"></el-radio>
                                <el-radio label="女"></el-radio>
                            </el-radio-group>
                        </el-form-item>
                        <el-form-item label="特长" prop="type"  class="cesc-form-item">
                            <el-checkbox-group v-model="ruleForm4.type">
                                <el-checkbox label="html" name="type"></el-checkbox>
                                <el-checkbox label="css" name="type"></el-checkbox>
                                <el-checkbox label="javascript" name="type"></el-checkbox>
                                <el-checkbox label="photoshop" name="type"></el-checkbox>
                            </el-checkbox-group>
                        </el-form-item>
                        <el-form-item label="即时配送" prop="delivery"  class="cesc-form-item">
                            <el-switch on-text="" off-text="" v-model="ruleForm4.delivery"></el-switch>
                        </el-form-item>
                        <el-form-item label="活动形式" prop="desc"  class="cesc-form-item">
                            <el-input type="textarea" v-model="ruleForm4.desc"></el-input>
                        </el-form-item>
                        <el-form-item>
                            <el-button type="primary" @click="submitForm('ruleForm4')">立即创建</el-button>
                            <el-button @click="resetForm('ruleForm4')">重置</el-button>
                        </el-form-item>
                    </el-form>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>人员信息表单</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li><a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>

                    <div class="clearfix"></div>
                </div>
                <div class="w-90 cesc-grid-form">
                    <el-form :model="ruleForm5" :rules="rules" ref="ruleForm5" class="demo-ruleForm">
                        <el-form-item prop="name">
                            <el-input class="cesc-text-indent" v-model="ruleForm5.name" placeholder="请输入用户名"></el-input>
                            <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                        </el-form-item>
                        <el-form-item prop="eMail">
                            <el-input class="cesc-text-indent" v-model="ruleForm5.eMail"
                                      placeholder="请输入邮箱地址"></el-input>
                            <span class="fa fa-envelope form-control-feedback left" aria-hidden="true"></span>
                        </el-form-item>
                        <el-form-item prop="telphone">
                            <el-input class="cesc-text-indent" v-model="ruleForm5.telphone"
                                      placeholder="请输入联系方式"></el-input>
                            <span class="fa fa-phone form-control-feedback left" aria-hidden="true"></span>
                        </el-form-item>
                        <el-form-item label="户口地址" prop="region" class="cesc-form-item">
                            <el-select v-model="ruleForm5.region" placeholder="请选择地区" class="cesc-grid-select">
                                <el-option label="上海" value="shanghai"></el-option>
                                <el-option label="北京" value="beijing"></el-option>
                                <el-option label="广州" value="guangzhou"></el-option>
                                <el-option label="深圳" value="shengzhen"></el-option>
                            </el-select>
                        </el-form-item>
                        <el-form-item label="活动时间" required  class="cesc-form-item">
                            <el-col :span="11">
                                <el-form-item prop="date1"  class="cesc-grid-date">
                                    <el-date-picker type="date" placeholder="选择日期" v-model="ruleForm5.date1"
                                                    style="width: 100%;"></el-date-picker>
                                </el-form-item>
                            </el-col>
                            <el-col class="line" :span="2">--</el-col>
                            <el-col :span="11">
                                <el-form-item prop="date2"  class="cesc-grid-date">
                                    <el-time-picker type="fixed-time" placeholder="选择时间" v-model="ruleForm5.date2"
                                                    style="width: 100%;"></el-time-picker>
                                </el-form-item>
                            </el-col>
                        </el-form-item>
                        <el-form-item label="性别" prop="sex"  class="cesc-form-item">
                            <el-radio-group v-model="ruleForm5.sex">
                                <el-radio label="男"></el-radio>
                                <el-radio label="女"></el-radio>
                            </el-radio-group>
                        </el-form-item>
                        <el-form-item label="特长" prop="type"  class="cesc-form-item">
                            <el-checkbox-group v-model="ruleForm5.type">
                                <el-checkbox label="html" name="type"></el-checkbox>
                                <el-checkbox label="css" name="type"></el-checkbox>
                                <el-checkbox label="javascript" name="type"></el-checkbox>
                                <el-checkbox label="photoshop" name="type"></el-checkbox>
                            </el-checkbox-group>
                        </el-form-item>
                        <el-form-item label="即时配送" prop="delivery"  class="cesc-form-item">
                            <el-switch on-text="" off-text="" v-model="ruleForm5.delivery"></el-switch>
                        </el-form-item>
                        <el-form-item label="活动形式" prop="desc"  class="cesc-form-item">
                            <el-input type="textarea" v-model="ruleForm5.desc"></el-input>
                        </el-form-item>
                        <el-form-item>
                            <el-button type="primary" @click="submitForm('ruleForm5')">立即创建</el-button>
                            <el-button @click="resetForm('ruleForm5')">重置</el-button>
                        </el-form-item>
                    </el-form>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>人员信息表单</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li><a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>

                    <div class="clearfix"></div>
                </div>
                <div class="cesc-grid-form">
                    <el-form :model="ruleForm6" :rules="rules" ref="ruleForm6" class="demo-ruleForm">
                        <el-form-item prop="name">
                            <el-input class="cesc-text-indent" v-model="ruleForm6.name" placeholder="请输入用户名"></el-input>
                            <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                        </el-form-item>
                        <el-form-item prop="eMail">
                            <el-input class="cesc-text-indent" v-model="ruleForm6.eMail"
                                      placeholder="请输入邮箱地址"></el-input>
                            <span class="fa fa-envelope form-control-feedback left" aria-hidden="true"></span>
                        </el-form-item>
                        <el-form-item prop="telphone">
                            <el-input class="cesc-text-indent" v-model="ruleForm6.telphone"
                                      placeholder="请输入联系方式"></el-input>
                            <span class="fa fa-phone form-control-feedback left" aria-hidden="true"></span>
                        </el-form-item>
                        <el-form-item label="户口地址" prop="region" class="cesc-form-item">
                            <el-select v-model="ruleForm6.region" placeholder="请选择地区" class="cesc-grid-select">
                                <el-option label="上海" value="shanghai"></el-option>
                                <el-option label="北京" value="beijing"></el-option>
                                <el-option label="广州" value="guangzhou"></el-option>
                                <el-option label="深圳" value="shengzhen"></el-option>
                            </el-select>
                        </el-form-item>
                        <el-form-item label="活动时间" required  class="cesc-form-item">
                            <el-col :span="11">
                                <el-form-item prop="date1"  class="cesc-grid-date">
                                    <el-date-picker type="date" placeholder="选择日期" v-model="ruleForm6.date1"
                                                    style="width: 100%;"></el-date-picker>
                                </el-form-item>
                            </el-col>
                            <el-col class="line" :span="2">--</el-col>
                            <el-col :span="11">
                                <el-form-item prop="date2"  class="cesc-grid-date">
                                    <el-time-picker type="fixed-time" placeholder="选择时间" v-model="ruleForm6.date2"
                                                    style="width: 100%;"></el-time-picker>
                                </el-form-item>
                            </el-col>
                        </el-form-item>
                        <el-form-item label="性别" prop="sex"  class="cesc-form-item">
                            <el-radio-group v-model="ruleForm6.sex">
                                <el-radio label="男"></el-radio>
                                <el-radio label="女"></el-radio>
                            </el-radio-group>
                        </el-form-item>
                        <el-form-item label="特长" prop="type"  class="cesc-form-item">
                            <el-checkbox-group v-model="ruleForm6.type">
                                <el-checkbox label="html" name="type"></el-checkbox>
                                <el-checkbox label="css" name="type"></el-checkbox>
                                <el-checkbox label="javascript" name="type"></el-checkbox>
                                <el-checkbox label="photoshop" name="type"></el-checkbox>
                            </el-checkbox-group>
                        </el-form-item>
                        <el-form-item label="即时配送" prop="delivery"  class="cesc-form-item">
                            <el-switch on-text="" off-text="" v-model="ruleForm6.delivery"></el-switch>
                        </el-form-item>
                        <el-form-item label="活动形式" prop="desc"  class="cesc-form-item">
                            <el-input type="textarea" v-model="ruleForm6.desc"></el-input>
                        </el-form-item>
                        <el-form-item>
                            <el-button type="primary" @click="submitForm('ruleForm6')">立即创建</el-button>
                            <el-button @click="resetForm('ruleForm6')">重置</el-button>
                        </el-form-item>
                    </el-form>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>人员信息表单</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li><a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>

                    <div class="clearfix"></div>
                </div>
                <div class="cesc-grid-form">
                    <el-form :model="ruleForm7" :rules="rules" ref="ruleForm7" class="demo-ruleForm">
                        <el-form-item prop="name">
                            <el-input class="cesc-text-indent" v-model="ruleForm7.name" placeholder="请输入用户名"></el-input>
                            <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                        </el-form-item>
                        <el-form-item prop="eMail">
                            <el-input class="cesc-text-indent" v-model="ruleForm7.eMail"
                                      placeholder="请输入邮箱地址"></el-input>
                            <span class="fa fa-envelope form-control-feedback left" aria-hidden="true"></span>
                        </el-form-item>
                        <el-form-item prop="telphone">
                            <el-input class="cesc-text-indent" v-model="ruleForm7.telphone"
                                      placeholder="请输入联系方式"></el-input>
                            <span class="fa fa-phone form-control-feedback left" aria-hidden="true"></span>
                        </el-form-item>
                        <el-form-item label="户口地址" prop="region" class="cesc-form-item">
                            <el-select v-model="ruleForm7.region" placeholder="请选择地区" class="cesc-grid-select">
                                <el-option label="上海" value="shanghai"></el-option>
                                <el-option label="北京" value="beijing"></el-option>
                                <el-option label="广州" value="guangzhou"></el-option>
                                <el-option label="深圳" value="shengzhen"></el-option>
                            </el-select>
                        </el-form-item>
                        <el-form-item label="活动时间" required  class="cesc-form-item">
                            <el-col :span="11">
                                <el-form-item prop="date1"  class="cesc-grid-date">
                                    <el-date-picker type="date" placeholder="选择日期" v-model="ruleForm7.date1"
                                                    style="width: 100%;"></el-date-picker>
                                </el-form-item>
                            </el-col>
                            <el-col class="line" :span="2">--</el-col>
                            <el-col :span="11">
                                <el-form-item prop="date2"  class="cesc-grid-date">
                                    <el-time-picker type="fixed-time" placeholder="选择时间" v-model="ruleForm7.date2"
                                                    style="width: 100%;"></el-time-picker>
                                </el-form-item>
                            </el-col>
                        </el-form-item>
                        <el-form-item label="性别" prop="sex"  class="cesc-form-item">
                            <el-radio-group v-model="ruleForm7.sex">
                                <el-radio label="男"></el-radio>
                                <el-radio label="女"></el-radio>
                            </el-radio-group>
                        </el-form-item>
                        <el-form-item label="特长" prop="type"  class="cesc-form-item">
                            <el-checkbox-group v-model="ruleForm7.type">
                                <el-checkbox label="html" name="type"></el-checkbox>
                                <el-checkbox label="css" name="type"></el-checkbox>
                                <el-checkbox label="javascript" name="type"></el-checkbox>
                                <el-checkbox label="photoshop" name="type"></el-checkbox>
                            </el-checkbox-group>
                        </el-form-item>
                        <el-form-item label="即时配送" prop="delivery"  class="cesc-form-item">
                            <el-switch on-text="" off-text="" v-model="ruleForm7.delivery"></el-switch>
                        </el-form-item>
                        <el-form-item label="活动形式" prop="desc"  class="cesc-form-item">
                            <el-input type="textarea" v-model="ruleForm7.desc"></el-input>
                        </el-form-item>
                        <el-form-item>
                            <el-button type="primary" @click="submitForm('ruleForm7')">立即创建</el-button>
                            <el-button @click="resetForm('ruleForm7')">重置</el-button>
                        </el-form-item>
                    </el-form>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>人员信息表单</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li><a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>

                    <div class="clearfix"></div>
                </div>
                <div class="cesc-grid-form">
                    <el-form :model="ruleForm8" :rules="rules" ref="ruleForm8" class="demo-ruleForm">
                        <el-form-item prop="name">
                            <el-input class="cesc-text-indent" v-model="ruleForm8.name" placeholder="请输入用户名"></el-input>
                            <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                        </el-form-item>
                        <el-form-item prop="eMail">
                            <el-input class="cesc-text-indent" v-model="ruleForm8.eMail"
                                      placeholder="请输入邮箱地址"></el-input>
                            <span class="fa fa-envelope form-control-feedback left" aria-hidden="true"></span>
                        </el-form-item>
                        <el-form-item prop="telphone">
                            <el-input class="cesc-text-indent" v-model="ruleForm8.telphone"
                                      placeholder="请输入联系方式"></el-input>
                            <span class="fa fa-phone form-control-feedback left" aria-hidden="true"></span>
                        </el-form-item>
                        <el-form-item label="户口地址" prop="region" class="cesc-form-item">
                            <el-select v-model="ruleForm8.region" placeholder="请选择地区" class="cesc-grid-select">
                                <el-option label="上海" value="shanghai"></el-option>
                                <el-option label="北京" value="beijing"></el-option>
                                <el-option label="广州" value="guangzhou"></el-option>
                                <el-option label="深圳" value="shengzhen"></el-option>
                            </el-select>
                        </el-form-item>
                        <el-form-item label="活动时间" required  class="cesc-form-item">
                            <el-col :span="11">
                                <el-form-item prop="date1"  class="cesc-grid-date">
                                    <el-date-picker type="date" placeholder="选择日期" v-model="ruleForm8.date1"
                                                    style="width: 100%;"></el-date-picker>
                                </el-form-item>
                            </el-col>
                            <el-col class="line" :span="2">--</el-col>
                            <el-col :span="11">
                                <el-form-item prop="date2"  class="cesc-grid-date">
                                    <el-time-picker type="fixed-time" placeholder="选择时间" v-model="ruleForm8.date2"
                                                    style="width: 100%;"></el-time-picker>
                                </el-form-item>
                            </el-col>
                        </el-form-item>
                        <el-form-item label="性别" prop="sex"  class="cesc-form-item">
                            <el-radio-group v-model="ruleForm8.sex">
                                <el-radio label="男"></el-radio>
                                <el-radio label="女"></el-radio>
                            </el-radio-group>
                        </el-form-item>
                        <el-form-item label="特长" prop="type"  class="cesc-form-item">
                            <el-checkbox-group v-model="ruleForm8.type">
                                <el-checkbox label="html" name="type"></el-checkbox>
                                <el-checkbox label="css" name="type"></el-checkbox>
                                <el-checkbox label="javascript" name="type"></el-checkbox>
                                <el-checkbox label="photoshop" name="type"></el-checkbox>
                            </el-checkbox-group>
                        </el-form-item>
                        <el-form-item label="即时配送" prop="delivery"  class="cesc-form-item">
                            <el-switch on-text="" off-text="" v-model="ruleForm8.delivery"></el-switch>
                        </el-form-item>
                        <el-form-item label="活动形式" prop="desc"  class="cesc-form-item">
                            <el-input type="textarea" v-model="ruleForm8.desc"></el-input>
                        </el-form-item>
                        <el-form-item>
                            <el-button type="primary" @click="submitForm('ruleForm8')">立即创建</el-button>
                            <el-button @click="resetForm('ruleForm8')">重置</el-button>
                        </el-form-item>
                    </el-form>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>人员信息表单</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li><a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>

                    <div class="clearfix"></div>
                </div>
                <div class="cesc-grid-form">
                    <el-form :model="ruleForm9" :rules="rules" ref="ruleForm9" class="demo-ruleForm">
                        <el-form-item prop="name">
                            <el-input class="cesc-text-indent" v-model="ruleForm9.name" placeholder="请输入用户名"></el-input>
                            <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                        </el-form-item>
                        <el-form-item prop="eMail">
                            <el-input class="cesc-text-indent" v-model="ruleForm9.eMail"
                                      placeholder="请输入邮箱地址"></el-input>
                            <span class="fa fa-envelope form-control-feedback left" aria-hidden="true"></span>
                        </el-form-item>
                        <el-form-item prop="telphone">
                            <el-input class="cesc-text-indent" v-model="ruleForm9.telphone"
                                      placeholder="请输入联系方式"></el-input>
                            <span class="fa fa-phone form-control-feedback left" aria-hidden="true"></span>
                        </el-form-item>
                        <el-form-item label="户口地址" prop="region" class="cesc-form-item">
                            <el-select v-model="ruleForm9.region" placeholder="请选择地区" class="cesc-grid-select">
                                <el-option label="上海" value="shanghai"></el-option>
                                <el-option label="北京" value="beijing"></el-option>
                                <el-option label="广州" value="guangzhou"></el-option>
                                <el-option label="深圳" value="shengzhen"></el-option>
                            </el-select>
                        </el-form-item>
                        <el-form-item label="活动时间" required  class="cesc-form-item">
                            <el-col :span="11">
                                <el-form-item prop="date1"  class="cesc-grid-date">
                                    <el-date-picker type="date" placeholder="选择日期" v-model="ruleForm9.date1"
                                                    style="width: 100%;"></el-date-picker>
                                </el-form-item>
                            </el-col>
                            <el-col class="line" :span="2">--</el-col>
                            <el-col :span="11">
                                <el-form-item prop="date2"  class="cesc-grid-date">
                                    <el-time-picker type="fixed-time" placeholder="选择时间" v-model="ruleForm9.date2"
                                                    style="width: 100%;"></el-time-picker>
                                </el-form-item>
                            </el-col>
                        </el-form-item>
                        <el-form-item label="性别" prop="sex"  class="cesc-form-item">
                            <el-radio-group v-model="ruleForm9.sex">
                                <el-radio label="男"></el-radio>
                                <el-radio label="女"></el-radio>
                            </el-radio-group>
                        </el-form-item>
                        <el-form-item label="特长" prop="type"  class="cesc-form-item">
                            <el-checkbox-group v-model="ruleForm9.type">
                                <el-checkbox label="html" name="type"></el-checkbox>
                                <el-checkbox label="css" name="type"></el-checkbox>
                                <el-checkbox label="javascript" name="type"></el-checkbox>
                                <el-checkbox label="photoshop" name="type"></el-checkbox>
                            </el-checkbox-group>
                        </el-form-item>
                        <el-form-item label="即时配送" prop="delivery"  class="cesc-form-item">
                            <el-switch on-text="" off-text="" v-model="ruleForm9.delivery"></el-switch>
                        </el-form-item>
                        <el-form-item label="活动形式" prop="desc"  class="cesc-form-item">
                            <el-input type="textarea" v-model="ruleForm9.desc"></el-input>
                        </el-form-item>
                        <el-form-item>
                            <el-button type="primary" @click="submitForm('ruleForm9')">立即创建</el-button>
                            <el-button @click="resetForm('ruleForm9')">重置</el-button>
                        </el-form-item>
                    </el-form>
                </div>
            </div>
        </div>
    </div>
</div>