<transition name="right-panel">
    <div v-show='carIllegalPanelOpen' class='right-panel carMonitor'>
        <div class="goBack"><a href='#' class="el-icon-d-arrow-right" @click="closePanel"></a></div>
        <div class="panel-header single-panel-header">违法行驶车辆统计信息</div>
        <div class="panel-content">
            <div class="panel-top panel-top-middle">
                <div class="col-md-6">
                    <div class="text-desc-box">
                        <table class="table table-striped table-bordered text-center no-margin">
                            <thead>
                            </thead>
                            <tbody>
                            <tr v-for="information in illegalInfos">
                                <td>
                                    {{information.name}}
                                </td>
                                <td>
                                    {{information.value}}
                                </td>
                            </tr>
                            <tr style="font-weight: bold">
                                <td>
                                    合计
                                </td>
                                <td>
                                    3辆
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-6">
                    <div id="carData" style="width: 230px;height: 250px"></div>
                </div>
            </div>
            <div class="panel-bottom">
                <div class="device-title">
                    <span>车辆信息</span>
                </div>
                <div class="device-content">
                    <div>
                        <table class="table table-striped table-bordered text-center">
                            <thead>
                            <tr>
                                <th v-for="th in datatheads">{{th}}</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="(list,index) in carLists" >
                                <td  @click="getCoordinate(list,index)">
                                    <el-button class="table-btn" @click="openCheckDialog()">违规登记</el-button>
                                </td>
                                <td>
                                    {{list.truckNum}}
                                </td>
                                <td>
                                    {{list.name}}
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="cesc-pagination">
                    <el-pagination
                            layout="prev, pager, next"
                            :total="carLists.length">
                    </el-pagination>
                </div>
            </div>
        </div>
    </div>
</transition>