<div class="mainContent">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>人员信息表单</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Settings 1</a>
                                </li>
                                <li><a href="#">Settings 2</a>
                                </li>
                            </ul>
                        </li>
                        <li><a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>

                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <br />
                    <div class="col-md-3 col-sd-3 col-sm-12">
                        <div class="userImg pull-right"></div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <el-form :model="ruleForm" :rules="rules" ref="ruleForm" class="demo-ruleForm">
                            <el-form-item prop="name">
                                <el-input class="cesc-text-indent" v-model="ruleForm.name" placeholder="请输入用户名"></el-input>
                                <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                            </el-form-item>
                            <el-form-item prop="eMail">
                                <el-input class="cesc-text-indent" v-model="ruleForm.eMail" placeholder="请输入邮箱地址"></el-input>
                                <span class="fa fa-envelope form-control-feedback left" aria-hidden="true"></span>
                            </el-form-item>
                            <el-form-item prop="telphone">
                                <el-input class="cesc-text-indent" v-model="ruleForm.telphone" placeholder="请输入联系方式"></el-input>
                                <span class="fa fa-phone form-control-feedback left" aria-hidden="true"></span>
                            </el-form-item>
                            <el-form-item label="户口所在地" prop="region">
                                <el-select v-model="ruleForm.region" placeholder="请选择地区">
                                    <el-option label="上海" value="shanghai"></el-option>
                                    <el-option label="北京" value="beijing"></el-option>
                                    <el-option label="广州" value="guangzhou"></el-option>
                                    <el-option label="深圳" value="shengzhen"></el-option>
                                </el-select>
                            </el-form-item>
                            <el-form-item label="活动时间" required>
                                <el-col :span="11">
                                    <el-form-item prop="date1">
                                        <el-date-picker type="date" placeholder="选择日期" v-model="ruleForm.date1" style="width: 100%;"></el-date-picker>
                                    </el-form-item>
                                </el-col>
                                <el-col class="line" :span="2">-</el-col>
                                <el-col :span="11">
                                    <el-form-item prop="date2">
                                        <el-time-picker type="fixed-time" placeholder="选择时间" v-model="ruleForm.date2" style="width: 100%;"></el-time-picker>
                                    </el-form-item>
                                </el-col>
                            </el-form-item>
                            <el-form-item label="性别" prop="sex">
                                <el-radio-group v-model="ruleForm.sex">
                                    <el-radio label="男"></el-radio>
                                    <el-radio label="女"></el-radio>
                                </el-radio-group>
                            </el-form-item>
                            <el-form-item label="特长" prop="type">
                                <el-checkbox-group v-model="ruleForm.type">
                                    <el-checkbox label="html" name="type"></el-checkbox>
                                    <el-checkbox label="css" name="type"></el-checkbox>
                                    <el-checkbox label="javascript" name="type"></el-checkbox>
                                    <el-checkbox label="photoshop" name="type"></el-checkbox>
                                </el-checkbox-group>
                            </el-form-item>
                            <el-form-item label="即时配送" prop="delivery">
                                <el-switch on-text="" off-text="" v-model="ruleForm.delivery"></el-switch>
                            </el-form-item>
                            <el-form-item label="活动形式" prop="desc">
                                <el-input type="textarea" v-model="ruleForm.desc"></el-input>
                            </el-form-item>
                            <el-form-item>
                                <el-button type="primary" @click="submitForm('ruleForm')">立即创建</el-button>
                                <el-button @click="resetForm('ruleForm')">重置</el-button>
                            </el-form-item>
                        </el-form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>