<transition name="right-panel">
    <div v-show='rightPanelOpen' class='right-panel carMonitor'>
        <div class="goBack"><a href='#' class="el-icon-d-arrow-right" @click="closePanel"></a></div>
        <div class="panel-header">
            <el-menu :default-active="activeIndex" class="el-menu-demo menu-full" mode="horizontal"
                     @select="switchMode">
                <el-menu-item index="1" id="realTimeMode">实时监控</el-menu-item>
                <el-menu-item index="2" id="historicalMode">历史回放</el-menu-item>
            </el-menu>
        </div>
        <div class="panel-content">
            <div class="panel-top" v-show='isRealTimeMode'>
                <div class="device-title">
                    <span>车辆查询</span>
                </div>
                <div>
                    <div class="cesc-grid-form">
                        <el-form :model="carData" ref="register" class="demo-ruleForm">
                            <el-form-item prop="num" label="车牌查询" class="cesc-form-item">
                                <el-input v-model="carData.num"></el-input>
                            </el-form-item>
                            <el-form-item label="车辆类型" class="cesc-form-item">
                                <el-select v-model="carData.type" placeholder="请选择车辆" class="cesc-grid-select">
                                    <el-option label="泥头车" value="泥头车"></el-option>
                                    <el-option label="工程车" value="工程车"></el-option>
                                    <el-option label="铲车" value="铲车"></el-option>
                                </el-select>
                            </el-form-item>
                            <el-button>查询</el-button>
                            <el-button @click="reset">清除</el-button>
                        </el-form>
                    </div>
                </div>
            </div>
            <div class="panel-bottom" v-show='isRealTimeMode'>
                <div class="device-title">
                    <span>车辆信息</span>
                </div>
                <div class="device-content">
                    <div>
                        <table class="table table-striped table-bordered text-center">
                            <thead>
                            <tr>
                                <th v-for="th in datatheads">{{th}}</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="(list,index) in queryCarList" @click="getCoordinate(list)">
                                <td>
                                    <el-checkbox v-model="list.check"></el-checkbox>
                                </td>
                                <td>
                                    {{list.truckNum}}
                                </td>
                                <td>
                                    {{list.name}}
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="cesc-pagination">
                    <el-pagination
                            layout="prev, pager, next"
                            :total="queryCarList.length">
                    </el-pagination>
                </div>
            </div>
            <div v-show='!isRealTimeMode' class="panel-top cesc-grid-form">
                <el-form :model="search" :rules="rules" ref="search" class="demo-ruleForm">
                    <el-form-item label="开始时间" class="cesc-form-item">
                        <el-form-item prop="dateStart" class="cesc-grid-date">
                            <el-date-picker type="date" placeholder="选择日期" v-model="search.dateStart"
                                            class="single-date"></el-date-picker>
                        </el-form-item>
                    </el-form-item>
                    <el-form-item label="结束时间" class="cesc-form-item">
                        <el-form-item prop="dateEnd" class="cesc-grid-date">
                            <el-date-picker type="date" placeholder="选择日期" v-model="search.dateEnd"
                                            class="single-date">
                            </el-date-picker>
                        </el-form-item>
                    </el-form-item>
                    <el-form-item>
                        <el-button @click="resetForm('search')">重置</el-button>
                    </el-form-item>
                </el-form>
            </div>
            <div v-show='!isRealTimeMode' class=" panel-bottom">
                <div class="device-content" style="    height: calc(100% - 2.5em);">
                    <table class="table table-striped table-bordered text-center">
                        <thead>
                        <tr>
                            <th v-for="th in historyTableHead">{{th}}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="car in carLists1">
                            <td>
                                {{car.num}}
                            </td>
                            <td>
                                {{car.name}}
                            </td>
                            <td>
                                <button type="button" class="btn btn-info btn-group-sm"
                                        @click="drawCarHistory(car)">查看回放
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                </div>
                <div class="cesc-pagination">
                    <el-pagination
                            layout="prev, pager, next"
                            :total="carLists1.length">
                    </el-pagination>
                </div>
            </div>
        </div>
    </div>
</transition>