<div class="mainContent uploadContent">
    <div class="map-work-top">
        <mt-header title="问题上报"></mt-header>
        <div class="search-container">
            <i class="el-icon-search inner-input"></i>
            <yd-cell-item class="bg-white-radius">
                <yd-input slot="right" v-model="searchInput" placeholder="请输入雨水井编号或位置"></yd-input>
            </yd-cell-item>
        </div>
        <div class="cesc-tabbar has-border">
            <div class="tab-item-flex" v-for="item in topNavArr" @click="showSub(item.id)">
                <img class="tab-img" :src="item.img">
                <p class="tab-text">{{item.text}}</p>
            </div>
        </div>
    </div>
    <div id="mainMap" style="height: 100%;width: 100%;"></div>
    <div class="upLoadBtn" v-show="showUpLoadBtn"  @click="updateNew">
      <img :src="reportQuestion" alt="">
      <span class="upload-text">上报问题</span>
   </div>
    <el-dialog title="设施种类" :visible.sync="dialogFormVisible" size="large">
        <mt-radio
                align="right"
                v-model="value"
                :options="options">
        </mt-radio>
    </el-dialog>
    <div class="opration-btn-group">
        <el-button type="primary" icon="edit" @click="addNewPoint"></el-button>
        <el-button type="primary" icon="search" @click="query"></el-button>
        <div class="el-button el-button--primary location-show" @click="locate">
            <i class="glyphicon glyphicon-record iconBg" ></i>
            <div class="el-popover" x-placement="left" v-show="locationTips">
                {{locationStatus}}
                <div x-arrow="" class="popper__arrow" style="top: 4px;">
                </div>
            </div>
        </div>
    </div>
</div>
