<transition name="right-panel">
    <div v-show='rightPanelOpen' class='right-panel carMonitor'>
        <div class="goBack"><a href='#' class="el-icon-d-arrow-right" @click="closePanel"></a></div>
        <div class="panel-header single-panel-header">某几类案件分类统计信息</div>
        <div class="panel-content">
            <div class="panel-top" v-show='isRealTimeMode'>
                <div class="col-md-6">
                    <ul class="text-desc-box">
                        <li v-for="list in carCases">
                            <span class="text-detail-title">{{list.name}}</span>
                            <span class="text-blue">{{list.value}}起</span>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <div id="carCases" style="width: 230px;height: 200px"></div>
                </div>
            </div>
            <div class="panel-bottom" v-show='isRealTimeMode'>
                <div class="device-title">
                    <span>车辆信息</span>
                </div>
                <div class="device-content">
                    <div>
                        <table class="table table-striped table-bordered text-center">
                            <thead>
                            <tr>
                                <th v-for="th in datatheads">{{th}}</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="(list,index) in carLists" @click="getCoordinate(list)">
                                <td>
                                    <el-checkbox v-model="list.check"></el-checkbox>
                                </td>
                                <td>
                                    {{list.truckNum}}
                                </td>
                                <td>
                                    {{list.name}}
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="cesc-pagination">
                    <el-pagination
                            layout="prev, pager, next"
                            :total="carLists.length">
                    </el-pagination>
                </div>
            </div>
            <!--<div v-show='!isRealTimeMode' class="panel-top cesc-grid-form">-->
            <!--<el-form :model="search" :rules="rules" ref="search" class="demo-ruleForm">-->
            <!--<el-form-item label="开始时间" class="cesc-form-item">-->
            <!--<el-form-item prop="dateStart" class="cesc-grid-date">-->
            <!--<el-date-picker type="date" placeholder="选择日期" v-model="search.dateStart"-->
            <!--class="single-date"></el-date-picker>-->
            <!--</el-form-item>-->
            <!--</el-form-item>-->
            <!--<el-form-item label="结束时间" class="cesc-form-item">-->
            <!--<el-form-item prop="dateEnd" class="cesc-grid-date">-->
            <!--<el-date-picker type="date" placeholder="选择日期" v-model="search.dateEnd"-->
            <!--class="single-date">-->
            <!--</el-date-picker>-->
            <!--</el-form-item>-->
            <!--</el-form-item>-->
            <!--<el-form-item>-->
            <!--<el-button type="primary" @click="submitForm('search')">查询</el-button>-->
            <!--<el-button @click="resetForm('search')">重置</el-button>-->
            <!--</el-form-item>-->
            <!--</el-form>-->
            <!--</div>-->
            <!--<div v-show='!isRealTimeMode' class=" panel-bottom">-->
            <!--<div class="device-content" style="    height: calc(100% - 2.5em);">-->
            <!--<table class="table table-striped table-bordered text-center">-->
            <!--<thead>-->
            <!--<tr>-->
            <!--<th v-for="th in historyTableHead">{{th}}</th>-->
            <!--</tr>-->
            <!--</thead>-->
            <!--<tbody>-->
            <!--<tr v-for="car in carLists1">-->
            <!--<td>-->
            <!--{{car.num}}-->
            <!--</td>-->
            <!--<td>-->
            <!--{{car.name}}-->
            <!--</td>-->
            <!--<td>-->
            <!--<button type="button" class="btn btn-info btn-group-sm"-->
            <!--@click="drawCarHistory(car)">查看回放-->
            <!--</button>-->
            <!--</td>-->
            <!--</tr>-->
            <!--</tbody>-->
            <!--</table>-->

            <!--</div>-->
            <!--<div class="cesc-pagination">-->
            <!--<el-pagination-->
            <!--layout="prev, pager, next"-->
            <!--:total="carLists1.length">-->
            <!--</el-pagination>-->
            <!--</div>-->
            <!--</div>-->
        </div>
    </div>
</transition>