<div class="mainContent">
   <mt-actionsheet
           :actions="actions"
           v-model="sheetVisible"
           :closeOnClickModal="false">
   </mt-actionsheet>
   <mt-header title="新增问题" fixed>
      <mt-button icon="back" slot="left" @click="returnMain">返回</mt-button>
      <mt-button slot="right" @click="returnMain">取消</mt-button>
   </mt-header>
   <div class="content">
      <div id="locateMap" v-show="isLocated" style="height: 200px;;width: 100%;"></div>
      <yd-cell-group>
         <yd-cell-item>
            <span slot="left">问题类型：</span>
            <input slot="right" type="text" placeholder="请输入问题" v-model="questionTitle">
            <el-button slot="right" v-show="setBtn" type="primary" size="small" @click="addNewItem">设为常见问题</el-button>
         </yd-cell-item>
         <yd-cell-item>
            <span slot="left">地点：</span>
            <input slot="right" type="text" placeholder="请输入地址">
            <span slot="right" class="locationBtn" @click="locatePosition"><img src="../../img/icon/icon-location.png" width="24" height="24"><span>重新定位</span></span>
         </yd-cell-item>
         <yd-cell-item>
            <span slot="left">解决方案：</span>
            <input slot="right" type="text" placeholder="请输入">
         </yd-cell-item>
      </yd-cell-group>
      <a class="mint-cell cell-top cell-sp">
         <div class="mint-cell-wrapper">
            <div class="mint-cell-title">
               <img src="../../img/icon/icon-detail.png" width="24" height="24">
               <span class="mint-cell-text">问题详情描述</span>
               <img class="pull-right" @click="openRecord" src="../../img/icon/icon-record.png" width="24" height="24">
            </div>
         </div>
      </a>
      <yd-cell-group>
         <div class="yd-cell-item cell-item-sp desc-item-container">
            <div class="yd-cell-right">
               <div class="yd-textarea">
                  <textarea placeholder="添加文字说明" rows="14" v-model="reqMsg"></textarea>
               </div>
            </div>
         </div>
         <div class="yd-cell-item clearfix">
            <div class="upload-img-area">
               <div class="image-container" v-for="(uploadImg,index) in uploadImgs">
                  <img :src="uploadImg.facilityImageUri" @click="showDelOperation(index)">
                  <span class="el-upload-list__item-actions upload-mask" v-show="uploadImg.showDelOperation">
                        <i class="el-icon-delete mgt-20"  @click="deleteFacilityImage(index)"></i>
                  </span>
               </div>
               <div class="el-upload el-upload--picture-card" @click="openActionSheet" v-show="uploadImgs.length<6">
                  <i class="el-icon-plus"></i>
               </div>
            </div>
         </div>
      </yd-cell-group>
      <!--<a class="mint-cell cell-top cell-sp">-->
         <!--<div class="mint-cell-wrapper">-->
            <!--<div class="mint-cell-title">-->
               <!--<img src="../../img/icon/icon-instruction.png" width="24" height="24">-->
               <!--<span class="mint-cell-text">特别说明</span>-->
            <!--</div>-->
         <!--</div>-->
      <!--</a>-->
      <!--<yd-cell-group>-->
         <!--<div class="yd-cell-item">-->
           <!--<div class="recordBox" @click="openRecord">-->
              <!--<img src="../../img/icon/icon-record.png">-->
              <!--<span class="record-text">长按录音</span>-->
           <!--</div>-->
         <!--</div>-->
      <!--</yd-cell-group>-->
   </div>
   <div class="btnBox clearfix">
      <div class="leftBtn" @click="saveQuestion">
         <img src="../../img/icon/icon-save.png" alt="">
         <span class="upload-text">保存问题</span>
      </div>
      <div class="rightBtn" @click="uploadQuestion">
         <img :src="reportQuestion" alt="">
         <span class="upload-text">上报问题</span>
      </div>
   </div>
</div>