<transition name="right-panel">
    <div v-show='rightPanelOpen' class='right-panel'>
        <div class="panel-header">
            <span class="goBack"><a href='#' class="el-icon-d-arrow-right" @click="closePanel"></a></span>
            <span class="facilityImg" v-bind:class="facilityType"></span>
            <span class="facilityName">{{facilityName}}</span>
            <el-menu :default-active="activeIndex" class="el-menu-demo menu-full" mode="horizontal"
                     @select="switchMode">
                <el-menu-item index="1" id="realTimeMode">实时监测</el-menu-item>
                <el-menu-item index="2" id="historicalMode">历史数据</el-menu-item>
            </el-menu>
        </div>
        <div class="panel-content">
            <div class="panel-top" v-show='isRealTimeMode'>
                <div class="device-title">
                    <span>实时视频</span>
                    <i class="icon iconfont text-muted">&#xe601;</i>
                </div>
                <!--<div class="device-title" v-show='!isRealTimeMode'>-->
                <!--<span>数据表格</span>-->
                <!--</div>-->
                <div class="device-content">
                    <!-- 消纳场-->
                    <object name="OCX" ID="OCX" classid="clsid:BE020CC9-521F-4641-85E1-3B631B7ADDD9" width="500px"
                            height="330px" v-if="facilityType == 'DS' || facilityType == 'CMP' || facilityType == 'SQ'">
                    </object>
                    <object id="videoobj" classid="CLSID:B1A739F2-A8CA-4214-AC65-73E4C9569ACD" width="500px"
                            height="330px" v-if="facilityType == 'TP'"></object>
                    <!--工地-->
                    <object name="OCX" ID="OCX" CLASSID="CLSID:14C9C4EC-61E6-4E4A-AB03-219C8E77857A" width="500px"
                            height="330px" v-if="facilityType == 'CS'"></object>
                    <!-- 大华 -->
                    <object id="DPSDK_OCX" classid="CLSID:D3E383B6-765D-448D-9476-DFD8B499926D"
                            style="width: 500px; height: 330px" codebase="DpsdkOcx.cab#version=1.0.0.0"
                            v-if="facilityType == 'DH'"></object>
                </div>
            </div>
            <div class="panel-middle">
                <div class="device-title" v-show='isRealTimeMode'>
                    <span>统计图表</span>
                    <div v-if="facilityType!=='ylz'">
                        <span class="gradeTitle">当前等级</span>
                        <span class="grade six" title="6" v-bind:class="{currentGrade:waterGrade=='6'}">{{waterGradeTitle}}</span>
                        <!--<span class="grade six" title="6" v-bind:class="{currentGrade:waterGrade=='6'}"></span>-->
                        <!--<span class="grade five" title="5" v-bind:class="{currentGrade:waterGrade=='5'}"></span>-->
                        <!--<span class="grade four" title="4" v-bind:class="{currentGrade:waterGrade=='4'}"></span>-->
                        <!--<span class="grade three" title="3" v-bind:class="{currentGrade:waterGrade=='3'}"></span>-->
                        <!--<span class="grade two" title="2" v-bind:class="{currentGrade:waterGrade=='2'}"></span>-->
                        <!--<span class="grade one " title="1" v-bind:class="{currentGrade:waterGrade=='1'}"></span>-->
                    </div>
                </div>
                <statistics ref='statisticPlugin'></statistics>
            </div>
            <!-- <div class="panel-bottom">
                 <div class="bottom-l">
                     <span>实时视频<em></em></span>
                 </div>
                 <div class="bottom-r">
                 &lt;!&ndash;<video  width="100%" height="100%" src="http://120.77.246.153:9000/vedio/test.ogg" autoplay="autoplay" loop="loop" controls="controls">
                 您的浏览器不支持 video 标签。
                 </video>&ndash;&gt;
                 </div>
             </div>-->
        </div>
    </div>
</transition>
