/*页面初始化代码*/
html, body {
    width: 100%;
    height: 100%;
    overflow: auto;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, p, pre, code, form, fieldset, legend, input, button, textarea, blockquote, th, td {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

.mapDiv {
    width: 100%;
    height: 100%;
}

#app {
    width: 100%;
    height: 100%;
}

#app > div {
    width: 100%;
    height: 100%;
}

.rightContainer {
    height: 100%;
    width: calc(100% - 230px);
    margin-left: 230px;
}

.maxContainer {
    margin-left: 0 !important;
    width: 100% !important;
}

.minMenu {
    margin-left: -225px;
}

.el-dialog__headerbtn {
    background-color: white;
    border: 0;
}

.el-dialog__body {
    border-top: 2px solid #E9E9E9;
    margin-top: 1em;
}

.pageContent {
    position: absolute;
    top: 7em;
    overflow-y: auto;
    height: calc(100% - 7em);
    width: calc(100% - 230px);
}

.navFix {
    height: 4em;
    float: right;
    width: 100%;
}

.navFix .nav_menu {
    height: 100%;
}
.titleBackground{
    background: url("./images/chengguanLogo.png") no-repeat center center;
    background-color: #ededed;
    background-size: 50% 90%;
    border-right: 1px solid whitesmoke !important;
    height: 6.8em;
    border-bottom: 2px solid #105ba3 !important;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: #105ba3;
}

/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #105ba3;
}

