<div class="mainContent">
    <div class="row clearfix">
        <div class="col-md-4">
            <div class="x_panel">
                <div class="x_title">
                    <!--标题-->
                    <h2>
                        字典
                    </h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="row">
                        <p>
                            <button type="button" class="btn btn-default" @click="addGroup">新增组</button>
                            <button type="button" class="btn btn-default" @click="addDict">新增字典</button>
                            <button type="button" class="btn btn-default" @click="addItem">新增字典项</button>
                            <button type="button" class="btn btn-default" @click="del">删除</button>
                        </p>
                    </div>
                    <div class="row">
                        <el-tree ref="treeMain" :data="treeData" :props="defaultProps"
                                 highlight-current="true" @node-click="nodeClick"
                                 :render-content="renderContent"></el-tree>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="x_panel">
                    <div class="x_title">
                        <!--标题-->
                        <h2>
                            {{formTitle}}
                        </h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="row">
                            <div class="col-md-12">
                                <form class="form-horizontal">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">值</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" placeholder=""
                                                   v-model='currentEntity.value'>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">文本</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" placeholder=""
                                                   v-model='currentEntity.text'>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-offset-2 col-sm-10">
                                            <button type="button" class="btn btn-default" @click="save">保存</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>