<el-dialog title="投诉点-违规登记" :visible.sync="checkDialogVisible">
    <el-form :model="illegalCheck" ref="illegalCheck" class="demo-ruleForm cesc-grid-form right">
        <div class="col-md-6">
            <el-form-item prop="title" label="违规标题" class="cesc-form-item">
                <el-input placeholder="请输入违规标题" v-model="illegalCheck.title"></el-input>
            </el-form-item>
        </div>
       <div class="col-md-6">
           <el-form-item prop="content" label="违规内容" class="cesc-form-item">
               <el-input placeholder="请输入违规内容" v-model="illegalCheck.content"></el-input>
           </el-form-item>
       </div>
        <div class="col-md-6">
            <el-form-item prop="people"  label="登记日期" class="cesc-form-item">
                <el-select v-model="illegalCheck.people" placeholder="请选择">
                    <el-option
                            v-for="item in options"
                            :key="item.value"
                            :label="item.label"
                            :value="item.value">
                    </el-option>
                </el-select>
            </el-form-item>
        </div>
        <div class="col-md-6">
            <el-form-item prop="date" label="登记日期" class="cesc-form-item">
                <el-form-item prop="date" class="cesc-grid-date">
                    <el-date-picker type="date" placeholder="请选择登记日期" v-model="illegalCheck.date"
                                    class="single-date"></el-date-picker>
                </el-form-item>
            </el-form-item>
        </div>
    </el-form>
    <div slot="footer" class="dialog-footer">
        <el-button @click="checkDialogVisible = false;resetForm('illegalCheck')">取 消</el-button>
        <el-button type="primary" @click="checkDialogVisible = false;submitForm('illegalCheck')">提交</el-button>
    </div>
</el-dialog>