<div class="viewContent">
    <div class="mainContent" v-show="showMain">
        <main-view></main-view>
        <mt-tabbar v-show="!showUpLoadBtn" v-model="selected" fixed>
            <mt-tab-item v-for="item in footerArr" :id="item.id">
                <img slot="icon" :src="item.img">
                {{ item.text }}
            </mt-tab-item>
        </mt-tabbar>
    </div>
    <news-center v-show="!showMain && showSubId === 'xwdt'"></news-center>
    <comment v-show="!showMain && showSubId === 'comment'"></comment>
    <draft-detail v-show="!showMain && showSubId === 'bdcg'"></draft-detail>
    <upload-detail v-show="!showMain && showSubId === 'wdsb' || !showMain && showSubId === 'trsb'"></upload-detail>
    <new-question v-show="!showMain && showSubId === 'sbwt'"></new-question>
</div>