<div class="mainContent">
   <mt-header title="关联审批" fixed>
      <mt-button icon="back" slot="left" @click="returnMain">返回</mt-button>
      <mt-button slot="right" @click="returnMain">取消</mt-button>
   </mt-header>
   <div class="content">
      <yd-accordion accordion>
         <yd-accordion-item v-for="item in approvalList" :title="item.title">
            <mt-radio
                    align="right"
                    v-model="item.check"
                    :options="item.subList">
            </mt-radio>
         </yd-accordion-item>
      </yd-accordion>
   </div>
   <div class="btnBox clearfix">
      <div class="leftBtn" @click="cancel">
         <img src="../../img/icon/icon-save.png" alt="">
         <span class="upload-text">取消关联</span>
      </div>
      <div class="rightBtn" @click="relate">
         <img :src="reportQuestion" alt="">
         <span class="upload-text">关联审批</span>
      </div>
   </div>
</div>