<div class="mainContent">
    <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2><i class="fa fa-bars"></i> Tabs <small>左浮动</small></h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Settings 1</a>
                            </li>
                            <li><a href="#">Settings 2</a>
                            </li>
                        </ul>
                    </li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <el-tabs type="border-card">
                    <el-tab-pane label="用户管理">用户管理</el-tab-pane>
                    <el-tab-pane label="配置管理">配置管理</el-tab-pane>
                    <el-tab-pane label="角色管理">角色管理</el-tab-pane>
                    <el-tab-pane label="定时任务补偿">定时任务补偿</el-tab-pane>
                </el-tabs>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2><i class="fa fa-bars"></i> Tabs <small>右浮动(带图标)</small></h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Settings 1</a>
                            </li>
                            <li><a href="#">Settings 2</a>
                            </li>
                        </ul>
                    </li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content cesc-tab right">
                <el-tabs type="border-card">
                    <el-tab-pane>
                        <span slot="label"><i class="el-icon-date"></i> 我的行程</span>
                        我的行程
                    </el-tab-pane>
                    <el-tab-pane 消息中心>
                        <span slot="label"><i class="el-icon-message"></i> 消息中心</span>
                        消息中心
                    </el-tab-pane>
                    <el-tab-pane>
                        <span slot="label"><i class="glyphicon glyphicon-user"></i> 角色管理</span>
                        角色管理
                    </el-tab-pane>
                    <el-tab-pane>
                        <span slot="label"><i class="el-icon-information"></i> 定时任务补偿</span>
                        定时任务补偿
                    </el-tab-pane>
                </el-tabs>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2><i class="fa fa-bars"></i> Tabs（可添加） <small>左浮动</small></h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Settings 1</a>
                            </li>
                            <li><a href="#">Settings 2</a>
                            </li>
                        </ul>
                    </li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <el-tabs v-model="editableTabsValue" type="card" editable @edit="handleTabsEdit">
                    <el-tab-pane
                            :key="item.name"
                            v-for="(item, index) in editableTabs"
                            :label="item.title"
                            :name="item.name"
                    >
                        {{item.content}}
                    </el-tab-pane>
                </el-tabs>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2><i class="fa fa-bars"></i> Tabs(可添加) <small>右浮动(按钮触发添加)</small></h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Settings 1</a>
                            </li>
                            <li><a href="#">Settings 2</a>
                            </li>
                        </ul>
                    </li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content cesc-tab right">
                <div class="clearfix" style="margin-bottom: 20px;">
                    <el-button
                            size="small"
                            @click="addTab(editableTabsValue2)"
                    >
                        add tab
                    </el-button>
                </div>
                <el-tabs v-model="editableTabsValue2" type="card" closable @tab-remove="removeTab">
                    <el-tab-pane
                            v-for="(item, index) in editableTabs2"
                            :key="item.name"
                            :label="item.title"
                            :name="item.name"
                    >
                        {{item.content}}
                    </el-tab-pane>
                </el-tabs>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2><i class="fa fa-align-left"></i>手风琴效果 <small>每次只能展开一个面板</small></h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Settings 1</a>
                            </li>
                            <li><a href="#">Settings 2</a>
                            </li>
                        </ul>
                    </li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <!-- start accordion -->
                <div class="accordion">
                    <el-collapse v-model="activeName" accordion>
                        <el-collapse-item title="一致性 Consistency" name="1">
                            <div>与现实生活一致：与现实生活的流程、逻辑保持一致，遵循用户习惯的语言和概念；</div>
                            <div>在界面中一致：所有的元素和结构需保持一致，比如：设计样式、图标和文本、元素的位置等。</div>
                        </el-collapse-item>
                        <el-collapse-item title="反馈 Feedback" name="2">
                            <div>控制反馈：通过界面样式和交互动效让用户可以清晰的感知自己的操作；</div>
                            <div>页面反馈：操作后，通过页面元素的变化清晰地展现当前状态。</div>
                        </el-collapse-item>
                        <el-collapse-item title="效率 Efficiency" name="3">
                            <div>简化流程：设计简洁直观的操作流程；</div>
                            <div>清晰明确：语言表达清晰且表意明确，让用户快速理解进而作出决策；</div>
                            <div>帮助用户识别：界面简单直白，让用户快速识别而非回忆，减少用户记忆负担。</div>
                        </el-collapse-item>
                        <el-collapse-item title="可控 Controllability" name="4">
                            <div>用户决策：根据场景可给予用户操作建议或安全提示，但不能代替用户进行决策；</div>
                            <div>结果可控：用户可以自由的进行操作，包括撤销、回退和终止当前操作等。</div>
                        </el-collapse-item>
                    </el-collapse>
                </div>
                <!-- end of accordion -->
            </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2><i class="fa fa-align-left"></i>手风琴效果(自定义）<small>通过具名 slot 来实现自定义面板的标题内容，以实现增加图标等效果。</small></h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Settings 1</a>
                            </li>
                            <li><a href="#">Settings 2</a>
                            </li>
                        </ul>
                    </li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <!-- start accordion -->
                <div class="accordion">
                    <el-collapse v-model="activeName1" accordion>
                        <el-collapse-item name="1">
                            <template slot="title">
                                一致性 Consistency<i class="header-icon el-icon-information"></i>
                            </template>
                            <div>与现实生活一致：与现实生活的流程、逻辑保持一致，遵循用户习惯的语言和概念；</div>
                            <div>在界面中一致：所有的元素和结构需保持一致，比如：设计样式、图标和文本、元素的位置等。</div>
                        </el-collapse-item>
                        <el-collapse-item title="反馈 Feedback"  name="2">
                            <div>控制反馈：通过界面样式和交互动效让用户可以清晰的感知自己的操作；</div>
                            <div>页面反馈：操作后，通过页面元素的变化清晰地展现当前状态。</div>
                        </el-collapse-item>
                        <el-collapse-item title="效率 Efficiency"  name="3">
                            <div>简化流程：设计简洁直观的操作流程；</div>
                            <div>清晰明确：语言表达清晰且表意明确，让用户快速理解进而作出决策；</div>
                            <div>帮助用户识别：界面简单直白，让用户快速识别而非回忆，减少用户记忆负担。</div>
                        </el-collapse-item>
                        <el-collapse-item title="可控 Controllability"  name="4">
                            <div>用户决策：根据场景可给予用户操作建议或安全提示，但不能代替用户进行决策；</div>
                            <div>结果可控：用户可以自由的进行操作，包括撤销、回退和终止当前操作等。</div>
                        </el-collapse-item>
                    </el-collapse>
                </div>
                <!-- end of accordion -->
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Tooltips <small>Hover to view</small></h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Settings 1</a>
                            </li>
                            <li><a href="#">Settings 2</a>
                            </li>
                        </ul>
                    </li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <!-- start pop-over -->
                <div>
                    <div style="margin-bottom: 15px" >
                        <el-tooltip class="item" effect="dark" content="Top Left 提示文字" placement="top-start">
                            <el-button>上左</el-button>
                        </el-tooltip>
                        <el-tooltip class="item" effect="dark" content="Top Center 提示文字" placement="top">
                            <el-button>上边</el-button>
                        </el-tooltip>
                        <el-tooltip class="item" effect="dark" content="Top Right 提示文字" placement="top-end">
                            <el-button>上右</el-button>
                        </el-tooltip>
                    </div>
                    <div style="margin-bottom: 15px" >
                        <el-tooltip class="item" effect="dark" content="Left Top 提示文字" placement="left-start">
                            <el-button>左上</el-button>
                        </el-tooltip>
                        <el-tooltip class="item" effect="dark" content="Left Center 提示文字" placement="left">
                            <el-button>左边</el-button>
                        </el-tooltip>
                        <el-tooltip class="item" effect="dark" content="Left Bottom 提示文字" placement="left-end">
                            <el-button>左下</el-button>
                        </el-tooltip>
                    </div>

                    <div style="margin-bottom: 15px" >
                        <el-tooltip class="item" effect="dark" content="Right Top 提示文字" placement="right-start">
                            <el-button>右上</el-button>
                        </el-tooltip>
                        <el-tooltip class="item" effect="dark" content="Right Center 提示文字" placement="right">
                            <el-button>右边</el-button>
                        </el-tooltip>
                        <el-tooltip class="item" effect="dark" content="Right Bottom 提示文字" placement="right-end">
                            <el-button>右下</el-button>
                        </el-tooltip>
                    </div>
                    <div style="margin-bottom: 15px" >
                        <el-tooltip class="item" effect="dark" content="Bottom Left 提示文字" placement="bottom-start">
                            <el-button>下左</el-button>
                        </el-tooltip>
                        <el-tooltip class="item" effect="dark" content="Bottom Center 提示文字" placement="bottom">
                            <el-button>下边</el-button>
                        </el-tooltip>
                        <el-tooltip class="item" effect="dark" content="Bottom Right 提示文字" placement="bottom-end">
                            <el-button>下右</el-button>
                        </el-tooltip>
                    </div>
                </div>
                <!-- end pop-over -->
            </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Tooltips <small>Hover to view</small></h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Settings 1</a>
                            </li>
                            <li><a href="#">Settings 2</a>
                            </li>
                        </ul>
                    </li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <!-- start pop-over -->
                <div>
                    <div style="margin-bottom: 15px" >
                        <h2>主题<small style="margin-left: 10px;">Tooltip 组件提供了两个不同的主题：dark和light。</small></h2>
                        <hr>
                        <el-tooltip content="Top center" placement="top">
                            <el-button>Dark</el-button>
                        </el-tooltip>
                        <el-tooltip content="Bottom center" placement="bottom" effect="light">
                            <el-button>Light</el-button>
                        </el-tooltip>
                    </div>
                    <div style="margin-bottom: 15px" >
                        <h2>更多 Content<small style="margin-left: 10px">展示多行文本或者是设置文本内容的格式</small></h2>
                        <hr>
                        <el-tooltip placement="top">
                            <div slot="content">多行信息<br/>第二行信息</div>
                            <el-button>Top center</el-button>
                        </el-tooltip>
                    </div>

                </div>
                <!-- end pop-over -->
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>下拉列表（dropdowns) <small>click to select</small></h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Settings 1</a>
                            </li>
                            <li><a href="#">Settings 2</a>
                            </li>
                        </ul>
                    </li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <!-- start dropdown -->
                <p style="margin-bottom: 10px;">基础用法</p>
                <el-select v-model="value" placeholder="请选择">
                    <el-option
                            v-for="item in options"
                            :key="item.value"
                            :label="item.label"
                            :value="item.value">
                    </el-option>
                </el-select>
                <hr>
                <p style="margin-bottom: 10px;">禁用状态</p>
                <el-select v-model="value3" disabled placeholder="请选择">
                    <el-option
                            v-for="item in options"
                            :key="item.value"
                            :label="item.label"
                            :value="item.value">
                    </el-option>
                </el-select>
                <hr>
                <p style="margin-bottom: 10px;">可清空单选</p>
                <el-select v-model="value4" clearable placeholder="请选择">
                    <el-option
                            v-for="item in options"
                            :key="item.value"
                            :label="item.label"
                            :value="item.value">
                    </el-option>
                </el-select>
                <hr>
                <p style="margin-bottom: 10px;">基础多选</p>
                <el-select v-model="value5" multiple placeholder="请选择">
                    <el-option
                            v-for="item in options"
                            :key="item.value"
                            :label="item.label"
                            :value="item.value">
                    </el-option>
                </el-select>
                <hr>
                <p style="margin-bottom: 10px;">自定义模板</p>
                <el-select v-model="value6" placeholder="请选择">
                    <el-option
                            v-for="item in cities"
                            :key="item.value"
                            :label="item.label"
                            :value="item.value">
                        <span style="float: left">{{ item.label }}</span>
                        <span style="float: right; color: #20a0ff; font-size: 13px">{{ item.value }}</span>
                    </el-option>
                </el-select>
                <hr>
                <p style="margin-bottom: 10px;">可搜索</p>
                <el-select v-model="value8" filterable placeholder="请选择">
                    <el-option
                            v-for="item in options"
                            :key="item.value"
                            :label="item.label"
                            :value="item.value">
                    </el-option>
                </el-select>
                <!-- end dropdown -->
            </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Notification 通知 <small>悬浮出现在页面右上角，显示全局的通知提醒消息。</small></h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Settings 1</a>
                            </li>
                            <li><a href="#">Settings 2</a>
                            </li>
                        </ul>
                    </li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <!-- start Notification -->
                <p style="margin-bottom: 10px;">基础用法</p>
                <el-button
                        plain
                        @click="open">
                    可自动关闭
                </el-button>
                <el-button
                        plain
                        @click="open2">
                    不会自动关闭
                </el-button>
                <hr>
                <p style="margin-bottom: 10px;">带有倾向性</p>
                <el-button
                        plain
                        @click="open3">
                    成功
                </el-button>
                <el-button
                        plain
                        @click="open4">
                    警告
                </el-button>
                <el-button
                        plain
                        @click="open5">
                    消息
                </el-button>
                <el-button
                        plain
                        @click="open6">
                    错误
                </el-button>
                <hr>
                <p style="margin-bottom: 10px;">带有偏移</p>
                <el-button
                        plain
                        @click="open7">
                    偏移的消息
                </el-button>
                <!-- end Notification -->
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Dialog 对话框 <small>悬浮出现在页面右上角，显示全局的通知提醒消息。</small></h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Settings 1</a>
                            </li>
                            <li><a href="#">Settings 2</a>
                            </li>
                        </ul>
                    </li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <!-- start dialog -->
                <p style="margin-bottom: 10px;">基础用法</p>
                <el-button type="button" @click="dialogVisible = true">点击打开 Dialog</el-button>
                <el-dialog
                        title="提示"
                        :visible.sync="dialogVisible"
                        size="tiny"
                        :before-close="handleClose">
                    <span>这是一段信息</span>
                    <span slot="footer" class="dialog-footer">
                        <el-button @click="dialogVisible = false">取 消</el-button>
                        <el-button type="primary" @click="dialogVisible = false">确 定</el-button>
                    </span>
                </el-dialog>
                <hr>
                <p style="margin-bottom: 10px;">自定义内容</p>
                <!-- Table -->
                <el-button type="button" @click="dialogTableVisible = true">打开嵌套表格的 Dialog</el-button>
                <el-dialog title="收货地址" :visible.sync="dialogTableVisible">
                    <el-table :data="gridData">
                        <el-table-column property="date" label="日期" width="150"></el-table-column>
                        <el-table-column property="name" label="姓名" width="200"></el-table-column>
                        <el-table-column property="address" label="地址"></el-table-column>
                    </el-table>
                </el-dialog>
                <!-- Form -->
                <el-button type="button" @click="dialogFormVisible = true">打开嵌套表单的 Dialog</el-button>
                <el-dialog title="收货地址" :visible.sync="dialogFormVisible">
                    <el-form :model="form">
                        <el-form-item label="活动名称" :label-width="formLabelWidth">
                            <el-input v-model="form.name" auto-complete="off"></el-input>
                        </el-form-item>
                        <el-form-item label="活动区域" :label-width="formLabelWidth">
                            <el-select v-model="form.region" placeholder="请选择活动区域">
                                <el-option label="区域一" value="shanghai"></el-option>
                                <el-option label="区域二" value="beijing"></el-option>
                            </el-select>
                        </el-form-item>
                    </el-form>
                    <div slot="footer" class="dialog-footer">
                        <el-button @click="dialogFormVisible = false">取 消</el-button>
                        <el-button type="primary" @click="dialogFormVisible = false">确 定</el-button>
                    </div>
                </el-dialog>
                <!-- end dialog -->
            </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Progress 进度条 <small>用于展示操作进度，告知用户当前状态和预期。</small></h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Settings 1</a>
                            </li>
                            <li><a href="#">Settings 2</a>
                            </li>
                        </ul>
                    </li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <!-- start Progress  -->
                <p style="margin-bottom: 10px;">线形进度条 — 百分比外显</p>
                <div class="cesc-defalut-progress">
                    <el-progress :percentage="0"></el-progress>
                    <el-progress :percentage="70"></el-progress>
                    <el-progress :percentage="100" status="success"></el-progress>
                    <el-progress :percentage="50" status="exception"></el-progress>
                </div>
                <hr>
                <p style="margin-bottom: 10px;">线形进度条 — 百分比内显</p>
                <div class="cesc-defalut-progress">
                    <el-progress :text-inside="true" :stroke-width="18" :percentage="0"></el-progress>
                    <el-progress :text-inside="true" :stroke-width="18" :percentage="70"></el-progress>
                    <el-progress :text-inside="true" :stroke-width="18" :percentage="100" status="success"></el-progress>
                    <el-progress :text-inside="true" :stroke-width="18" :percentage="50" status="exception"></el-progress>
                </div>
                <hr>
                <p style="margin-bottom: 10px;">环形进度条</p>
                <div>
                    <el-progress type="circle" :percentage="0"></el-progress>
                    <el-progress type="circle" :percentage="25"></el-progress>
                    <el-progress type="circle" :percentage="100" status="success"></el-progress>
                    <el-progress type="circle" :percentage="50" status="exception"></el-progress>
                </div>
                <!-- end Progress  -->
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>