<div class="login login-bg-img">
    <!--<div class="goBack"></div>
    <div class="logo"></div>-->
    <div class="logo-content">
        <img class="vertical-mid" src="../../img/login/logo1.png" alt="logo">
        <p class="vertical-mid logo-desc">南宁市扬尘治理综合管理系统</p>
    </div>
    <div class="loginBox clearfix">
        <h2 class="login-header">登入系统</h2>
        <div class="login-container clearfix">
            <div class="login-content">
                <label>用户名:</label>
                <el-input v-model="userName" placeholder="用户名"></el-input>
            </div>
            <div class="login-content clearfix">
                <label>密码:</label>
                <el-input type = 'password' v-model="password" placeholder="密码"></el-input>
                <a class="forgetPsd">忘记密码？</a>
            </div>
            <div class="btn-grounp">
                <el-button type="primary" @click="login">登录</el-button>
                <el-button type="primary">注册</el-button>
            </div>
        </div>
        <!--<div class="registerBox">
            <div class="skip">跳过</div>
            <div class="register">注册</div>
        </div>-->
    </div>
</div>