<transition name="message-detail">
<div class="nnyc-search" v-show="showSearch" :class="{toggleMenu:isToggleMenu}">
    <div class="cesc-grid-form cesc-nnyc-data">
        <el-form :model="form" class="demo-ruleForm">
            <el-form-item prop="name" label="设施地址" class="cesc-form-item">
                <el-input v-model="form.name"></el-input>
            </el-form-item>
            <el-form-item label="数据来源" class="cesc-form-item">
                <el-select v-model="form.data" multiple placeholder="请选择">
                    <el-option
                            v-for="item in datas"
                            :key="item.value"
                            :label="item.label"
                            :value="item.value">
                    </el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="污染源" class="cesc-form-item">
                <el-select v-model="form.pollute" multiple placeholder="请选择">
                    <el-option
                            v-for="pollution in pollutions"
                            :key="pollution.value"
                            :label="pollution.label"
                            :value="pollution.value">
                    </el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="所在区" class="cesc-form-item">
                <el-select v-model="form.address" multiple placeholder="请选择">
                    <el-option
                            v-for="area in areas"
                            :key="area.value"
                            :label="area.label"
                            :value="area.value">
                    </el-option>
                </el-select>
            </el-form-item>
        </el-form>
        <span>记录总数：12条</span>
    </div>
    <div class="cesc-nnyc-table">
        <table class="table table-striped table-bordered" >
            <thead>
            <tr>
                <th v-for="th in datatheads">{{th}}</th>
            </tr>
            </thead>
            <tbody>
                <tr  v-for="data in searchEquipment">
                    <td>
                        {{ data.name }}
                    </td>
                    <td>
                        {{ data.status }}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</transition>