<transition name="message-detail">
<div class="nnyc-search" v-show="showSearch"  :class="{toggleMenu:isToggleMenu,showSearch:showSearch}">
    <div class="cesc-grid-form cesc-nnyc-data">
        <el-form :model="form"  ref="form" class="demo-ruleForm">
            <el-form-item prop="name" label="设施地址" class="cesc-form-item">
                <el-input v-model="form.name"></el-input>
            </el-form-item>
            <el-form-item label="数据来源" prop="data" class="cesc-form-item">
                <el-select v-model="form.data" placeholder="请选择">
                    <el-option
                            v-for="item in datas"
                            :key="item.value"
                            :label="item.label"
                            :value="item.value">
                    </el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="污染源" prop="pollute" class="cesc-form-item">
                <el-select v-model="form.pollute" placeholder="请选择">
                    <el-option
                            v-for="pollution in pollutions"
                            :key="pollution.value"
                            :label="pollution.label"
                            :value="pollution.value">
                    </el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="所在区" prop="address" class="cesc-form-item">
                <el-select v-model="form.address" placeholder="请选择">
                    <el-option
                            v-for="area in areas"
                            :key="area.value"
                            :label="area.label"
                            :value="area.value">
                    </el-option>
                </el-select>
            </el-form-item>
            <el-form-item>
                <el-button @click="searchRecord()" class="float-right">查询</el-button>
            </el-form-item>
        </el-form>
        <span>记录总数：{{account}}条</span>
    </div>
    <div class="cesc-nnyc-table">
        <table class="table table-striped table-bordered" >
            <colgroup>
                <col width="60%">
            </colgroup>
            <thead>
            <tr>
                <th v-for="th in datatheads">{{th}}</th>
            </tr>
            </thead>
            <tbody>
                <tr  v-for="data in facilityTableData">
                    <td>
                        {{ data.name }}
                    </td>
                    <td>
                        {{ data.status }}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!--<div>-->
        <!--<el-button @click="close('form')" style="margin-left: 33%;">关闭</el-button>-->
    <!--</div>-->
    <div class="goBack"><a href='#' class="el-icon-d-arrow-right" @click="close('form')"></a></div>
</div>
</transition>