.analyze-box-top{
    margin-top:40px;
    width: 100%;
    height:50%;
    text-align: center;
    border:1px solid #FF8C00;
}
.analyze-box-bottom{
    width: 100%;
    height:50%;
    text-align: center;
    border-left:1px solid #FF8C00;
    border-right:1px solid #FF8C00;
    border-bottom:1px solid #FF8C00;
}
.analyze-title{
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #26a2ff;
    background:#fff;
    border-bottom:1px solid #FF8C00;
    position: relative;
}
.title-date{
    position: absolute;
    right: .2rem;
}