.analyze-box-top{
    margin-top:40px;
    width: 100%;
    height:50%;
    text-align: center;
}
.analyze-box-bottom{
    width: 100%;
    height:50%;
    text-align: center;
}
.analyze-title{
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #26a2ff;
    background:#fff;
    position: relative;
}
.title-date{
    position: absolute;
    right: .2rem;
}
.checkRadio .mint-cell{
    min-height:30px;
}
.checkRadio .mint-cell-wrapper{
    font-size:14px;
}
.checkRadio .mint-radio-label{
    font-weight: normal;
    max-width: 80%;
    display: inline-block;
}
.checkRadio .mint-radio.is-right{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translate(0,-50%);
}