.analyze-box-top{
    margin-top:40px;
    width: 100%;
    height:50%;
    text-align: center;
}
.analyze-box-bottom{
    width: 100%;
    height:50%;
    text-align: center;
}
.analyze-title{
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #26a2ff;
    background:#fff;
    position: relative;
}
.title-date{
    position: absolute;
    right: .2rem;
}