.userImg{
    width:10em;
    height:10em;
    background: url("../images/cropper.jpg")right center no-repeat;
    background-size:cover;
}
.w-100{
    width:100%;
}
.cesc-label{
    display: inline-block;
    vertical-align: middle;
}
.cesc-select{
    display: inline-block;
    vertical-align: middle;
}
.form-group.cesc-form-bottom{
    margin-bottom: 15px;
}
.cesc-text-indent>input{
    text-indent:4em;
}
.dialog-form.w-60{
    width: 60%;
    margin:0 auto;
}
.dialog-form.w-80{
    width: 80%;
    margin-left:5%;
}
.float-left{
    float: left;
}
.float-right{
    float: right;
}
.bigPanel{
    width:100%;
}
.dialog-form .el-form-item__label[for="date1"],.dialog-form .el-form-item__label[for="region"],.dialog-form .el-form-item__label[for="type"],.dialog-form .el-form-item__label[for="menu"]{
    width: 50px;

}
.dialog-form .el-input.el-date-editor--date,.dialog-form .el-select{
    width: calc(100% - 50px)!important;
}
.cesc-dialog-form {
    width: 80%;
    margin: 0 auto;
}
.cesc-dialog-step .el-form-item {
    margin-bottom: 58px;
}
.cesc-dialog-form .image{
    width: 200px;
}
.cesc-dialog-small .el-dialog--small{
    width: 800px;
}
.cesc-form-align{
    padding-left: 10px;
    padding-right: 10px;
}
.cesc-grid-form.x_content{
    float: none;

}
.cesc-grid-form.cesc-label-top .el-form-item__label{
    float: none;
}
.cesc-grid-form.cesc-label-top .cesc-upright-checkbox .el-checkbox{
    width: 100%;
    margin-left: 0;
}
.cesc-grid-form .cesc-upright-select .el-checkbox,.cesc-grid-form .cesc-upright-select .el-radio,.cesc-grid-form .cesc-upright-select .el-switch{
    width: 100%;
    margin-left: 0;
}
.cesc-form-item.short-select .el-select .el-input {
    width: 110px;
}
.cesc-horizontal-step{
    text-align: center;
}
.cesc-horizontal-step.step400{
    margin-left: 400px;
}
.cesc-steps-btns{
    float:right;
}
.cesc-step{
    display: none;
}
.cesc-step.show{
    display: block;
}
.cesc-upload-demo{
    padding: 20px;
}
.cesc-upload-demo input[type=file].el-upload__input{
    display: none;
}
.cesc-upload-demo .upload-demo{
    text-align: center;
}