.nnyc-search{
    width: 300px;
    padding:5px 10px;
    background: #fff;
    position: absolute;
    z-index: 3;
     right: -320px;
    top:0;
    height: calc(100% - 4.3em);
    transform: translateX(320px);
    -ms-transform: translateX(320px);		/* IE 9 */
    -webkit-transform: translateX(320px);	/* Safari and Chrome */
    -o-transform: translateX(320px);		/* Opera */
    -moz-transform: translateX(320px);		/* Firefox */
    transition: transform 1s;
    -moz-transition:  -moz-transform 1s;
    -webkit-transition:  -webkit-transform 1s;
    -o-transition:-o-transform 1s;
}
.nnyc-search.showSearch{
    transform: translateX(-320px);
    -ms-transform: translateX(-320px);		/* IE 9 */
    -webkit-transform: translateX(-320px);	/* Safari and Chrome */
    -o-transform: translateX(-320px);		/* Opera */
    -moz-transform: translateX(-320px);		/* Firefox */
    transition: transform 1s;
    -moz-transition:  -moz-transform 1s;
    -webkit-transition:  -webkit-transform 1s;
    -o-transition:-o-transform 1s;
}
.cesc-nnyc-table{
    padding: 5px;
}
.nnyc-search .el-form-item {
    margin-bottom: 10px;
}
.control-search{
    position: absolute;
    top: 100px;
    margin-left:1em;
}
.control-search .el-button{
    background-color: #157dd6;
    color: white;
}
.toggleMenu{
    margin-left: 298px;
}