.carMonitor {

}

.carMonitor .panel-header {
    height: 31px;
}

.carMonitor .panel-content {
    height: calc(100% - 45px);
}

.carMonitor .device-content {
    height: calc(100% - 4.5em);
}
.carMonitor .panel-top{
    height: 36%;
}
.carMonitor .panel-bottom{
    height: 64%;
}