.test {
    width: 200px;
    padding: 5px 8px;
    border: 2px solid #b54040;
    border-radius: 25px;
    height: 60px;
    background: white;
    position: absolute;
}

.test .bot, .test .top {
    width: 0;
    height: 0;
    font-size: 0;
    overflow: hidden;
    position: absolute;
}

.test .highLightBox {
    z-index: 9999;
}

.test span.bot {
    border-width: 12px;
    border-style: solid dashed dashed;
    border-color: #d9cc33 transparent transparent;
    left: 84px;
    bottom: -23px;
}
.test span.top {
    border-width: 11px;
    border-style: solid dashed dashed;
    border-color: #ffffff transparent transparent;
    left: 85px;
    bottom: -21px;
}

.infoWindow {
    position: absolute;
    top: 0;
}

.infoWindow .content {
    color: #d89327;
    font-weight: bold;
}

.infoWindow .good {
    color: #1ce142;
}
.infoWindow .normal {
    color: #ecca14;
}
.infoWindow .warn {
    color:red;
}