.draftBox{
    width:100%;
}
.draf-date{
    width:1.2rem;
    border-radius:0.1rem;
    overflow: hidden;
    margin-right:0.2rem;
}
.date-text{
    width:100%;
    height:50%;
    text-align: center;
    line-height: 100%;
    padding:0.1rem 0;
}
.draf-content{
    width:calc(100% - 1.4rem);
}
.date-top{
    background: #26a2ff;
    color: #fff;
}
.date-bottom{
    background: #fff;
    color:#26a2ff;
}
.cell-btn{
    text-align: center;
    color: #fff;
    font-size: 1.1em;
    border-radius: 0.1rem;
    float: left;
    padding: 0.05rem 0.3rem;
}
.cell-btn>i{
    font-size:1.2em;
    vertical-align: middle;
}
.btn-edit{
    background: #26a2ff;
    margin-right: 0.1rem;
}
.btn-upload{
    background: #ECB000;
}
.icon-lajitong{
    font-size:1.4em;
}
.draft-top{
    height:auto;
}
.draft-content{
    padding:10px;
    margin-top:50px;
}
.date-expand{
    width: 100%;
    height:3rem;
}
.el-radio-group label{
    margin-bottom:0;
}
.mint-tabbar.is-fixed{
    z-index:10!important;
}
.mint-header.is-fixed{
    z-index:50!important;
}
.entranceBox{
    width: 100%;
    padding-top: 40px;
    height: calc(100% + 50px);
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
    background: #fff;
}
.entranceBox>li{
    width: 50%;
    height: 25%;
    border-right:1px solid #ccc;
    border-bottom:1px solid #ccc;
}
.entranceBox>li:nth-child(2n){
    border-right:none;
}
.entranceBox>li:last-child,.entranceBox>li:nth-last-child(2){
    border-bottom:none;
}
.entranceBox>li>a{
    width:100%;
    height:100%;
    text-align: center;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    /*color: #fff;*/
}
.entranceBox>li span{
    font-size:5em;
}
.entranceBox .entranceText{
    width: 100%;
    font-size: 1.2em;
}
.color-orange{
    color: #FF8A66;
}
.color-purple{
    color: #93A7FF;
}
.color-blue{
    color: #50CEE6;
}
.color-deepPurple{
    color: #CF94DA;
}
.color-yellow{
    color:#FFC000;
}
.color-green{
    color:#9AD055;
}
.color-lightBlue{
    color:#90C4FF;
}
.color-red{
    color: #F26295;
}