#wrapper {
    text-align:center;
}
#toolbar {
    position:absolute;
    top: 24px;
    left: 5em;
}
.button {
    width: 1em;
    height: 1em;
    border-radius: 50%;
    background-color: #0361b1;
    color: #ffffff;
    text-align: center;
    font-size: 3.5em;
    position: relative;
    z-index: 1;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor:pointer;
}
.button .iconfont{
    font-size:0.5em;
}
/*.icons{*/
    /*-webkit-transition: -webkit-all 1s cubic-bezier(.87,-.41,.19,1.44);*/
    /*transition:  all 1s cubic-bezier(.87,-.41,.19,1.44);*/
/*}*/
.icons {
    list-style: none;
    background-color: #ffffff;
    box-shadow: 1px 1px 1px 1px #DCDCDC;
    border-radius: 2em;
    position: relative;
    top: 0.4em;
}
.icons>li {
    display: none;
}
.icons>li>a{
    color:#ccc;
    text-decoration: none;
    cursor:pointer;
}
.text-open{
    color: #0361b1 !important;
}
.horizontal-icons{
    width:0%;
    height:2.6em;
    display: flex;
    justify-content: center;
    align-items: center;
    left:-1.5em;
}
.horizontal-icons.open {
    width: 18em;
}

.horizontal-icons.open>li {
    padding: 0 0.6em;
    display: inline-block;
}
.vertical-icons{
    height:0%;
    width: 3.49em;
    left:0;
}
.vertical-icons.open {
    height: 39em;
    padding-top: 2.5em;
}

.vertical-icons.open>li {
    width:inherit;
    padding: 0.3em 0;
    display: inline-block;
}
.subLegend{
    width: 10em;
    height: 14em;
    box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.5);
    position: absolute;
    top: 3em;
    left: 2.7em;
    background: #fff;
    overflow: auto;
}
.subLegend>li{
    width: inherit;
    padding: 5px 10px;
    text-align: left;
}
.subLegend>li>a{
    color: #0361b1;
    font-size:0.8em;
}
.subLegend>li>a>input{
    margin-right:5px;
    vertical-align: text-bottom;
}
.childType{
    text-align: center;
    font-size:0.2em;
}
.buliding-video.glyphicon{
     width: 15px;
     height: 15px;
     background:url(../../img/toolbar/point_15px_shex_red.png) no-repeat;
 }
.road-video.glyphicon{
    width: 15px;
    height: 15px;
    background:url(../../img/toolbar/point_15px_shex.png) no-repeat;
}
.stonePit-video.glyphicon{
     width: 15px;
     height: 15px;
     background:url(../../img/toolbar/point_15px_shex_yellow.png) no-repeat;
 }
.jetereting-video.glyphicon{
      width: 15px;
      height: 15px;
      background:url(../../img/toolbar/point_15px_shex_orange.png) no-repeat;
  }
.people.glyphicon{
       width: 24px;
       height: 24px;
       background:url(../../img/toolbar/people.png) no-repeat;
   }
.car.glyphicon{
    width: 24px;
    height: 24px;
    background:url(../../img/toolbar/FireTruck.png) no-repeat;
}
.enfroce-video.glyphicon{
    width: 15px;
    height: 15px;
    background:url(../../img/toolbar/point_15px_bzsp.png) no-repeat;
}
.bayonet.glyphicon{
    width: 15px;
    height: 15px;
    background:url(../../img/toolbar/point_15px_kksp.png) no-repeat;
}
.reportPoint.glyphicon{
    width: 15px;
    height: 15px;
    background:url(../../img/toolbar/reportPoint.png) no-repeat;
}
.consumptive.glyphicon{
    width: 15px;
    height: 15px;
    background:url(../../img/toolbar/point_15px_shex_blue.png) no-repeat;
}