.cesc-hh .el-select{
    width: 100%;
}
.cesc-hh .yd-cell-box{
    margin-bottom: 0;
}
.cesc-hh  .el-select .el-input__inner {
    border: none;
    height: 1rem;
    border-radius: 0;
}
.river-list{
    height: 1rem;
    line-height: 1rem;
    background: #fff;
    padding-left:.3rem;
    padding-right:.3rem;
    border-bottom: 1px solid #ddd;
}
.riverTitle{
    font-size: .3rem;
    display: inline-block;
}
.river-list .data-list-msg{
    width: 100%;
}
.river-list .el-icon-arrow-right{
    color:#ccc;
}
.river-list.hezhang-list{
    height:auto;
    border-bottom: 1px solid #26a2ff;
}
.river-list.hezhang-list .data-list-msg{
    border-bottom: 1px solid #ddd;
}
.river-list.hezhang-list .data-list-msg:last-child{
    border-bottom: none;
}
.hezhang-list-msg,.title-blue{
    color: #26a2ff;
}
