.login.login-bg-img {
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    background: url(../../img/login/login-bg.jpg) no-repeat 62% 0;
    position: relative;
}
.goBack{
    width:4em;
    height:3em;
    background-size:100% 100%;
    position: absolute;
    top: 4em;
    left:4em;
}
.loginBox{
    background:#fff;
    width: 400px;
    position: absolute;
    left: 56.3%;
    top: 32%;
    z-index: 2;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.loginBox .login-header{
    line-height: 50px;
    font-size: 1.5em;
    height: 50px;
    width: 100%;
    color: #fff;
    background-color: rgba(15,181,244,1);
    text-align:center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.logo{
    font-size: 3em;
    color: #333;
    position: absolute;
    top: 4em;
    left:calc(50% - 3em);
    width:6em;
    height:2em;
    background-size:contain;
}
.userName,.password{
    width:inherit;
    height:3em;
    border-bottom:1px solid #fff;
    margin-top:3em;
}
.inputDiv{
    display: inline-block;
    font-size: 1.5em;
    width: 14em;
    height: 2em;
    line-height: 2em;
    outline: none;
    vertical-align: middle;
}
.user-icon,.psd-icon{
    display:inline-block;
    width: 2.5em;
    height:2.5em;
    margin:0 1em;
    vertical-align: middle;
}
.user-icon{
    background-size:100% 100%;
}
.psd-icon{
    background-size:100% 100%;
}
.login-content .forgetPsd{
    padding:1em 0;
    float:right;
}
.login-content label{
    width: 4em;
}
.login-content{
    margin-top:2em;
}
.login-content.relative{
    position:relative;
}
.login-content .el-input{
    width:224px;
}
.login-btn{
    width: 16em;
    height: 2.6em;
    clear: both;
    font-size:20px;
    border-radius: 1.3em;
    background: rgba(36,149,243,0.6);
    margin: 0 auto;
    text-align: center;
    line-height: 2.6em;
    color: #dcdcdc;
    cursor:pointer;
}
.login-btn:hover,.login-btn:visited{
    background: rgba(36,149,243,0.6);
}
.login-container{
    padding:1em 4em 1em 4em;
}
.registerBox{
    width:inherit;
    padding:0 2.8em;
    margin-top:2em;
    line-height:3.6em;
}
.skip,.register{
    width:5.6em;
    height:2.6em;
    border-radius:1.3em;
    color:#fff;
    border:1px solid #fff;
    font-size:20px;
    text-align: center;
    cursor:pointer;
}
.skip{
    float: left;
}
.register{
    float: right;
}
.textInput{
    font-size:1.5em;
    background-color:transparent;
    border:none;
    vertical-align: middle;
    outline:none;
}
.logo-content{
    position: absolute;
    top: 15%;
    right: 18%
}
.login-container .btn-grounp{
    float: right;
}
.vertical-mid{
    display: inline-block;
    vertical-align: middle;
}
.logo-desc{
    font-size:3em;
    margin-left:20px;
    color: #333;
}