.login{
    width:100%;
    height:100%;
    background-size:100% 100%;
    background-color: var(--base-color);
}
.goBack{
    width:4em;
    height:3em;
    background-size:100% 100%;
    position: absolute;
    top: 4em;
    left:4em;
}
.loginBox{
    width: 26%;
    height: 35%;
    position: absolute;
    left: 40%;
    top: 20%;
    z-index: 2;
    padding: 1em;
}
.loginBox .el-input{
    padding: 1em;
}
.logo{
    font-size: 3em;
    color: #333;
    position: absolute;
    top: 4em;
    left:calc(50% - 3em);
    width:6em;
    height:2em;
    background-size:contain;
}
.userName,.password{
    width:inherit;
    height:3em;
    border-bottom:1px solid #fff;
    margin-top:3em;
}
.inputDiv{
    display: inline-block;
    font-size: 1.5em;
    width: 14em;
    height: 2em;
    line-height: 2em;
    outline: none;
    vertical-align: middle;
}
.user-icon,.psd-icon{
    display:inline-block;
    width: 2.5em;
    height:2.5em;
    margin:0 1em;
    vertical-align: middle;
}
.user-icon{
    background-size:100% 100%;
}
.psd-icon{
    background-size:100% 100%;
}
.forgetPsd{
    float: right;
    padding:1em 0;
    color:#fff;
    margin-bottom:2em;
}
.login-btn{
    width: 16em;
    height: 2.6em;
    clear: both;
    font-size:20px;
    border-radius: 1.3em;
    background: rgba(36,149,243,0.6);
    margin: 0 auto;
    text-align: center;
    line-height: 2.6em;
    color: #dcdcdc;
    cursor:pointer;
}
.login-btn:hover,.login-btn:visited{
    background: rgba(36,149,243,0.6);
}
.registerBox{
    width:inherit;
    padding:0 2.8em;
    margin-top:2em;
    line-height:3.6em;
}
.skip,.register{
    width:5.6em;
    height:2.6em;
    border-radius:1.3em;
    color:#fff;
    border:1px solid #fff;
    font-size:20px;
    text-align: center;
    cursor:pointer;
}
.skip{
    float: left;
}
.register{
    float: right;
}
.textInput{
    font-size:1.5em;
    background-color:transparent;
    border:none;
    vertical-align: middle;
    outline:none;
}
