.viewContent {
    width: 100%;
    height: calc(100% - 2.5em - 20px);
    border: 1px solid #127bd1;
    border-top: none;
    padding: 10px;
    position: relative;
}

/*.viewContent:before {*/
/*content: '';*/
/*display: block;*/
/*width: 24em;*/
/*height: 8em;*/
/*position: absolute;*/
/*top: -5.6em;*/
/*left: 50%;*/
/*margin-left: -12em;*/
/*border-left: 3px solid #127bd1;*/
/*border-right: 2px solid #127bd1;*/
/*border-top: 4px solid #127bd1;*/
/*transform: perspective(24em) rotate3d(1, 0, 0, 70deg);*/
/*}*/

.containTop {
    position: relative;
}

.mainTitle {
    width: 29em;
    line-height: 4em;
    position: absolute;
    top: -3.5em;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 10;
    cursor: pointer;
}

.main-text {
    color: #2de8ef;
    text-align: center;
    font-size: 2.5em;
    text-shadow: 0px 1px 10px;
    vertical-align: middle;
}

/*.mainTitle:after{*/
/*content: '';*/
/*display: block;*/
/*width: 22em;*/
/*height: 9em;*/
/*position: absolute;*/
/*bottom: -4.5em;*/
/*left: 50%;*/
/*margin-left: -11em;*/
/*border-left: 4px solid #127bd1;*/
/*border-right: 4px solid #127bd1;*/
/*border-top: 8px solid #127bd1;*/
/*transform: perspective(24em) rotate3d(1, 0, 0, 107deg);*/
/*}*/

.notice-left, .notice-right {
    width: calc(50% - 16em);
    height: 4em;
    line-height: 4em;
    background: #051e48;
    border: 2px solid #127bd1;
    padding: 0 1em;
    position: relative;
}

.notice-left {
    border-left: none;
    border-top: none;
    box-shadow: 2px 2px 2px #2de8ef inset;
}

.notice-right {
    border-right: none;
    border-top: none;
    box-shadow: -2px 2px 2px #2de8ef inset;
}

.notice-left:before {
    content: '';
    display: block;
    width: calc(100% + 28px);
    height: 2px;
    background: #2de8ef;
    position: absolute;
    top: -10px;
    left: -12px;
}

.notice-right:before {
    content: '';
    display: block;
    width: calc(100% + 28px);
    height: 2px;
    background: #2de8ef;
    position: absolute;
    top: -10px;
    right: -12px;
}

/*.notice-left:after{*/
/*content: '';*/
/*display: block;*/
/*width: calc(100% + 4px);*/
/*height: 4px;*/
/*background: #127bd1;*/
/*position: absolute;*/
/*bottom: -26px;*/
/*left: -2px;*/
/*}*/

/*.notice-right:after {*/
/*content: '';*/
/*display: block;*/
/*width: calc(100% + 4px);*/
/*height: 4px;*/
/*background: #127bd1;*/
/*position: absolute;*/
/*bottom: -26px;*/
/*right: -2px;*/
/*}*/

.mapContain {
    width: 100%;
    height: calc(100% - 4em - 20px);
    border: 4px solid #127bd1;
    border-top: none;
    margin-top: 20px;
    position: relative;
    /*background: url(../images/mapWindow.png)no-repeat center center;*/
    background-size: 102% 102%;
}

.mapContain:before {
    content: '';
    display: block;
    width: 24em;
    height: 9em;
    position: absolute;
    top: -2.6em;
    left: 50%;
    margin-left: -12em;
    border-left: 8px solid #127bd1;
    border-right: 8px solid #127bd1;
    border-top: 16px solid #127bd1;
    transform: perspective(24em) rotate3d(1, 0, 0, 110deg);
}

.displayBox-l, .displayBox-r {
    top: 6em;
}

.displayBox-l {
    position: absolute;
    left: 10px;
}

.displayBox-r {
    position: absolute;
    right: 10px;
}

.displayBox-l, .displayBox-r {
    width: 30em;
    height: calc(100% - 23.5em);
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;
    z-index: 2;
}

.displayItem {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.itemLeft, .itemRight {
    width: inherit;
    height: 48.5%;
    position: relative;
}

.itemLeft {
    background: linear-gradient(135deg, rgba(5, 33, 79, 0.9) 0, rgba(5, 33, 79, 0.9) 0) top left,
    linear-gradient(-135deg, transparent 1em, rgba(5, 33, 79, 0.9) 0) top right,
    linear-gradient(-45deg, rgba(5, 33, 79, 0.9) 0, rgba(5, 33, 79, 0.9) 0) bottom right,
    linear-gradient(45deg, transparent 1em, rgba(5, 33, 79, 0.9) 0) bottom left;
    background-size: 50.2% 50.2%;
    background-repeat: no-repeat;
}

.itemLeft .displayItem:before {
    content: '';
    display: block;
    height: calc(100% - 4em);
    width: 1px;
    background: #127bd1;
    position: absolute;
    left: 0;
    bottom: 1.4em;
}

.itemLeft .displayItem:after {
    content: '';
    display: block;
    width: calc(100% - 1.4em);
    height: 1.4em;
    transform: skewX(45deg);
    position: absolute;
    left: 0.8em;
    bottom: 0;
    border-bottom: 1px solid #127bd1;
    border-left: 1px solid #127bd1;
}

.itemRight .displayItem:before {
    content: '';
    display: block;
    height: calc(100% - 4em);
    width: 1px;
    background: #127bd1;
    position: absolute;
    right: 0;
    bottom: 1.4em;
}

.itemRight .displayItem:after {
    content: '';
    display: block;
    width: calc(100% - 1.4em);
    height: 1.4em;
    transform: skewX(-45deg);
    position: absolute;
    left: 0.8em;
    bottom: 0;
    border-bottom: 1px solid #127bd1;
    border-right: 1px solid #127bd1;
}

.itemLeft:before {
    content: '';
    display: block;
    width: calc(100% - 11em);
    height: 1px;
    background: #127bd1;
    position: absolute;
    top: -1px;
    right: 1.4em;
}

.itemLeft:after {
    content: '';
    display: block;
    height: calc(100% - 1.4em);
    width: 1.4em;
    transform: skewY(45deg);
    position: absolute;
    top: 0.8em;
    right: 0;
    border-top: 1px solid #127bd1;
    border-right: 1px solid #127bd1;
}

.itemRight {
    background: linear-gradient(135deg, transparent 1em, rgba(5, 33, 79, 0.9) 0) top left,
    linear-gradient(-135deg, rgba(5, 33, 79, 0.9) 0, rgba(5, 33, 79, 0.9) 0) top right,
    linear-gradient(-45deg, transparent 1em, rgba(5, 33, 79, 0.9) 0) bottom right,
    linear-gradient(45deg, rgba(5, 33, 79, 0.9) 0, rgba(5, 33, 79, 0.9) 0) bottom left;
    background-size: 50.2% 50.2%;
    background-repeat: no-repeat;
}

.itemRight:before {
    content: '';
    display: block;
    width: calc(100% - 11em);
    height: 1px;
    background: #127bd1;
    position: absolute;
    top: -1px;
    left: 1.4em;
}

.itemRight:after {
    content: '';
    display: block;
    height: calc(100% - 1.4em);
    width: 1.4em;
    transform: skewY(-45deg);
    position: absolute;
    top: 0.8em;
    left: 0;
    border-top: 1px solid #127bd1;
    border-left: 1px solid #127bd1;
}

.displayBox-b {
    width: calc(100% - 10px);
    position: absolute;
    bottom: 5px;
    left: 5px;
    height: 16em;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
}

.displayItem-b {
    width: 24%;
    height: inherit;
    background: rgba(5, 33, 79, 0.9);
    position: relative;
}

.notice-tips {
    height: 3em;
    width: 3em;
    display: inline-block;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em;
    text-align: center;
    font-size: 1.2em;
}

.notice-bj {
    color: #fff000;
    background: -moz-radial-gradient(rgba(119, 21, 51, 0.1), rgba(119, 21, 51, 0.4), rgba(119, 21, 51, 0.8), rgba(119, 21, 51, 1));
    background: -webkit-radial-gradient(rgba(119, 21, 51, 0.1), rgba(119, 21, 51, 0.4), rgba(119, 21, 51, 0.8), rgba(119, 21, 51, 1));
}

.notice-dt {
    color: #06ff06;
    background: -moz-radial-gradient(rgba(19, 120, 101, 0.1), rgba(19, 120, 101, 0.4), rgba(19, 120, 101, 0.8), rgba(19, 120, 101, 1));
    background: -webkit-radial-gradient(rgba(19, 120, 101, 0.1), rgba(19, 120, 101, 0.4), rgba(19, 120, 101, 0.8), rgba(19, 120, 101, 1));
}

.notice-text {
    display: inline-block;
    color: #2de8ef;
    font-size: 1.2em;
    vertical-align: middle;
    width: calc(100% - 13em);
    height: inherit;
    text-overflow: clip;
    word-break: keep-all;
    white-space: nowrap;
    overflow: hidden;
}

.notice-title {
    color: #fff;
    font-size: 1.5em;
    margin: 0 1em;
}

.systemTitle {
    color: #2de8ef;
    font-size: 1.5em;
    text-align: center;
    height: 2.4em;
    line-height: 2.4em;
    position: relative;
}

.system-text {
    font-weight: bold;
}

.itemLeft .systemTitle > i {
    position: absolute;
    right: 0.5em;
    top: 0.6em;
}

.itemRight .systemTitle > i {
    position: absolute;
    left: 0.5em;
    top: 0.6em;
}

.systemBody {
    height: calc(100% - 5em);
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.displayTable {
    width: calc(100% - 1em);
}

.displayTable thead > tr > th, .displayTable tbody > tr > td {
    text-align: center;
    font-size: 1.3em;
}

.displayTable .alert thead > tr > th, .displayTable tbody > tr > td {
    text-align: center;
    font-size: 1.3em;
}

.tableContainer {
    height: 10em;
    padding: 0 1em;
}

.tableContainer > table > tbody > tr > td {
    text-align: left;
}
.tableContainer > table > tbody > tr > td:nth-child(2){
    text-align: center !important;
}

.tableContainer > table {
    width: 100% !important;
}

.displayTable thead > tr > th {
    color: #00d491;
}

.displayTable tbody > tr > td {
    color: #ccc;
    padding: 0.2em 0;
}

.leftConner-t {
    position: absolute;
    width: 8em;
    height: 1em;
    top: -1em;
    left: 0;
    background: linear-gradient(60deg, rgba(5, 33, 79, 0.9) 0, rgba(5, 33, 79, 0.9) 7em, transparent 0, transparent 1em);
}

.leftConner-t:before {
    content: '';
    display: block;
    width: 3em;
    height: 1em;
    position: absolute;
    left: 8em;
    top: -1px;
    transform: skewX(30deg);
    box-shadow: -2px 2px 2px #2de8ef;
}

.leftConner-t:after {
    content: '';
    display: block;
    width: calc(8em - 2px);
    height: 4em;
    position: relative;
    left: -1px;
    top: 0em;
    box-shadow: 2px 2px 2px #2de8ef inset;
}

.leftConner-b:before {
    content: '';
    display: block;
    width: 2px;
    height: 4em;
    position: absolute;
    left: -2px;
    bottom: 1.4em;
    box-shadow: 2px 0 2px #2de8ef;
}

.leftConner-b:after {
    content: '';
    display: block;
    width: 4em;
    height: 1.4em;
    position: absolute;
    left: 0.7em;
    bottom: 1px;
    transform: skewX(45deg);
    box-shadow: 2px -2px 2px #2de8ef inset;
}

.rightConner-t {
    position: absolute;
    width: 8em;
    height: 1em;
    top: -1em;
    right: 0;
    background: linear-gradient(-60deg, rgba(5, 33, 79, 0.9) 0, rgba(5, 33, 79, 0.9) 7em, transparent 0, transparent 1em);
}

.rightConner-t:before {
    content: '';
    display: block;
    width: 3em;
    height: 1em;
    position: absolute;
    right: 8em;
    top: -1px;
    transform: skewX(-30deg);
    box-shadow: 2px 2px 2px #2de8ef;
}

.rightConner-t:after {
    content: '';
    display: block;
    width: calc(8em - 2px);
    height: 4em;
    position: relative;
    right: -3px;
    top: 0em;
    box-shadow: -2px 2px 2px #2de8ef inset;
}

.rightConner-b:before {
    content: '';
    display: block;
    width: 2px;
    height: 4em;
    position: absolute;
    right: 2px;
    bottom: 1.4em;
    box-shadow: 2px 0 2px #2de8ef;
}

.rightConner-b:after {
    content: '';
    display: block;
    width: 4em;
    height: 1.4em;
    position: absolute;
    right: 0.7em;
    bottom: 1px;
    transform: skewX(-45deg);
    box-shadow: -2px -2px 2px #2de8ef inset;
}

.itemBottom-l {
    border-right: 1px solid #127bd1;
    background: linear-gradient(135deg, transparent 1em, rgba(5, 33, 79, 0.9) 0) top left,
    linear-gradient(-135deg, rgba(5, 33, 79, 0.9) 0, rgba(5, 33, 79, 0.9) 0) top right,
    linear-gradient(-45deg, rgba(5, 33, 79, 0.9) 0, rgba(5, 33, 79, 0.9) 0) bottom right,
    linear-gradient(45deg, transparent 1em, rgba(5, 33, 79, 0.9) 0) bottom left;
    background-size: 50.2% 50.2%;
    background-repeat: no-repeat;
}

.itemBottom-l .bottomConner-t:before {
    content: '';
    display: block;
    position: absolute;
    width: 3em;
    height: 3em;
    top: -2.8em;
    left: 1.4em;
    background: rgba(5, 33, 79, 0.9);
    transform-origin: bottom center 0;
    transform: perspective(4em) rotate3d(1, 0, 0, 70deg);
    box-shadow: 2px -2px 2px 1px #2de8ef, -2px -2px 2px 1px #2de8ef, 0 -20px 2px 1px #2de8ef;
}

.itemBottom-l .bottomConner-t:after {
    content: '';
    display: block;
    width: calc(100% - 4.5em);
    height: 1px;
    position: absolute;
    left: 4.4em;
    top: -1px;
    box-shadow: 0 2px 2px 1px #2de8ef;
}

.itemBottom-l .bottomConner-b:before {
    content: '';
    display: block;
    position: absolute;
    width: 2em;
    height: 100%;
    top: 0;
    left: -6px;
    transform-origin: right center 0;
    transform: perspective(2em) rotate3d(0, 1, 0, -14deg);
    box-shadow: -2px -2px 2px #2de8ef, -2px 2px 2px #2de8ef;
}

.itemBottom-l .bottomConner-b:after {
    content: '';
    display: block;
    width: calc(100% - 1.4em);
    height: 1px;
    position: absolute;
    left: 1.4em;
    bottom: -1px;
    background: #127bd1;
}

.itemBottom-r {
    border-left: 1px solid #127bd1;
    background: linear-gradient(135deg, rgba(5, 33, 79, 0.9) 0, rgba(5, 33, 79, 0.9) 0) top left,
    linear-gradient(-135deg, transparent 1em, rgba(5, 33, 79, 0.9) 0) top right,
    linear-gradient(-45deg, transparent 1em, rgba(5, 33, 79, 0.9) 0) bottom right,
    linear-gradient(45deg, rgba(5, 33, 79, 0.9) 0, rgba(5, 33, 79, 0.9) 0) bottom left;
    background-size: 50.2% 50.2%;
    background-repeat: no-repeat;
}

.itemBottom-r .bottomConner-t:before {
    content: '';
    display: block;
    position: absolute;
    width: 3em;
    height: 3em;
    top: -2.8em;
    right: 1.4em;
    background: rgba(5, 33, 79, 0.9);
    transform-origin: bottom center 0;
    transform: perspective(4em) rotate3d(1, 0, 0, 70deg);
    box-shadow: 2px -2px 2px 1px #2de8ef, -2px -2px 2px 1px #2de8ef, 0 -20px 2px 1px #2de8ef;
}

.itemBottom-r .bottomConner-t:after {
    content: '';
    display: block;
    width: calc(100% - 4.5em);
    height: 1px;
    position: absolute;
    right: 4.4em;
    top: -1px;
    box-shadow: 0 2px 2px 1px #2de8ef;
}

.itemBottom-r .bottomConner-b:before {
    content: '';
    display: block;
    position: absolute;
    width: 2em;
    height: 100%;
    top: 0;
    right: -6px;
    transform-origin: left center 0;
    transform: perspective(2em) rotate3d(0, 1, 0, 14deg);
    box-shadow: 2px -2px 2px #2de8ef, 2px 2px 2px #2de8ef;
}

.itemBottom-r .bottomConner-b:after {
    content: '';
    display: block;
    width: calc(100% - 1.4em);
    height: 1px;
    position: absolute;
    right: 1.4em;
    bottom: -1px;
    background: #127bd1;
}

.itemBottom {
    border: 1px solid #127bd1;
    border-top: none;
}

.topConner {
    width: calc(100% - 4em);
    height: 1em;
    position: absolute;
    top: -1em;
    left: 0;
    margin-left: 2em;
    transform-origin: bottom center 0;
    transform: perspective(4em) rotate3d(1, 0, 0, 10deg);
    box-shadow: 2px -2px 1px #2de8ef, -2px -2px 1px #2de8ef, 0 -2px 1px #2de8ef;
    background: rgba(5, 33, 79, 0.9);
}

.topConner:before {
    content: '';
    display: block;
    width: 2em;
    box-shadow: 2px 0 2px 1px #2de8ef;
    position: absolute;
    left: -2em;
    bottom: 0;
}

.topConner:after {
    content: '';
    display: block;
    width: 2em;
    box-shadow: 2px 0 2px 1px #2de8ef;
    position: absolute;
    right: -2em;
    bottom: 0;
}

.chartContain {
    width: 100%;
    height: 100%;
}

#mainMap {
    width: 100%;
    height: calc(100% - 3em);
}

.inform-text {
    padding: 1em;
    font-size: 1.3em;
    text-indent: 2em;
    color: #ccc;
}

.chartPie {
    width: 60%;
    height: 100%;
    margin-left: 5px;
}

.chartList {
    width: calc(40% - 10px);
    max-height: 10em;
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translate(0, -50%);
    border: 1px solid #ccc;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.subChartList {
    width: 100%;
    height: calc(100% - 3em);
    overflow: auto;
}

.chartList > li, .subChartList > li {
    padding: 0.5em 0;
    text-align: center;
    border-bottom: 1px solid #ccc;
}

.subChartList > li:last-child {
    border-bottom: none;
}

.subChartList > li > a {
    color: #fff;
}

.listTitle {
    background: #ccc;
}

.listTitle > a {
    color: #333 !important;
    font-weight: bold;
}