.monitor-main {
    height: 100%;
    width: 100%;
}

.status-bar {
    height: 14.28em;
    width: 100% !important;
}

.historyPanel {
    height: 100%;
    padding-top: 0.2em;
    width: 100%;
}

.historyContent {
    height: 100%;
    overflow: hidden;
}

.historyGrid {
    font-family: Arial;
    border-radius: 5px;
    float: left;
    width: 33%;
    height: 40%;
    margin-left: 0.1em;
    padding: 10px;
    display: table;
    color:#666;
}

.historyItem > h5 {
    font-weight: bold;
}

.warningCounter {
    width: 36%;
}

.historyChartGrid {
    width: 66%;
    height: 100%;
    font-family: Arial;
    border-radius: 5px;
    float: left;
    min-height: 11.5em;
    background: #f5f1da;
    margin-left: 0.1em;
    color: #5097B5;
}

.historyChart {
    width: 24em;
    height: 14em;
    border: 0.1px;
    border-radius: 5px;
}

.historyGrid a {
    color: #5097B5 !important;
}

.seeperDetail {
    font-family: Arial;
    border-radius: 5px;
    width: 100%;
    height: 11em;
    background: #f5f1da;
    margin-left: 0.1em;
    color: #5097B5;
    padding: 10px;
}

.seeperDetail table {
    width: 100%;
}

.gridTittle {
    margin-top: 3.7%;
    text-align: left;
    margin-bottom: 9%;
}

.gridTittle > h5 {

}

.dataItem {
    padding: 3px 0;
    text-align: left;
}
.dataItem>em{
    float:right;
}
.dataColumn{
    text-align: center;
    color:#fff;
}
.dataItemColor-red {
    color: #D72F29;
}

.dataItemColor-red .dataColumn {
    background: #D72F29;
}

.dataItemColor-orange {
    color: #FE9B01;
}

.dataItemColor-orange .dataColumn {
    background: #FE9B01;
}

.dataItemColor-yellow {
    color: #F2CA04;
}

.dataItemColor-yellow .dataColumn {
    background: #F2CA04;
}

.dataItemColor-blue {
    color: #3166FF;
}

.dataItemColor-blue .dataColumn {
    background: #3166FF;
}

.historyItem {
    text-align: left;
    margin-bottom: 12%;
    margin-top:3.7%;
}

.big-item {
    display: table-row;
}

.big-item > h4 {
    display: table-cell;
    vertical-align: middle;
}

.totalRain {
    color: red;
}

.dataColumn {
    display: inline-block;
    max-width: 5em;
    width: 2.5em;
    min-height: 1em;
    border-radius: 2px;
    background: #01A9EB;
    margin: 0 10px;
}

.hideSpeerDetail {
    width: 3em;
    background: black;
    opacity: 0.4;
    position: absolute;
    left: 45%;
    margin-top: -10px;
}

.hideSpeerDetail a {
    color: #EDEDF7 !important;
    margin-left: 29%;
}