.cesc-mb-form .yd-btn-block{
    margin-bottom: .5rem;
    margin-top:.2rem;
}
.water-info-body{
    margin-top: 50px;
}
.app-header-msg{
    padding: .2rem;
    margin: .2rem 2px;
    background: #fff;
    border-radius: 3px;
    position: relative;
}
.app-header-msg .data-list-level{
    position: absolute;
    left: 50%;
    margin-left: -0.25rem;
}
.font-big{
    font-size: .3rem;
}
.blue{
    color:	#1E90FF
}
.header-sub-title{
    height: .6rem;
    line-height: .6rem;
    text-align: center;
    font-size: .4rem;
}
.water-info-desc{
    padding: .1rem;
    margin: .2rem 2px;
    background: #fff;
    border-radius: 3px;
}
.water-info-msg{
    width: 50%;
    float: left;
    padding-left: .2rem;
    padding-right: .5rem;
}
.water-info-msg .data-value{
    color: #f00;
    float: right;
}
.water-info-charts{
    margin-left: 2rem;
}
.cesc-tabbar-row.cesc-tabbar{
    flex-wrap:nowrap;
}