.weatherReport{
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 5px;
}
.weatherReport .report{
    width: 100%;
    height: 100%;
    background: url(../images/report.jpg) repeat;
    overflow: hidden;
    background-size: 100% 110%;
}